﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yarda | @ViewBag.Title</title>

    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#feb938">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#feb938">

    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    @*<link href="~/assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="~/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.css" />
    <link href="~/assets/libs/chartjs/dist/Chart.min.css" rel="stylesheet">
    <link href="~/assets/libs/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
    <link href="~/assets/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/assets/libs/data-tables/datatables.min.css" rel="stylesheet">
    <link href="~/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="~/assets/libs/fancybox/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet">
    <link href="~/assets/css/dashboard.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @{
        if (ViewBag.CurrentUser.is_provider)
        {
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" method="GET">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <select class="form-control" id="filter_provider_client_id" name="client_id">
                                                @*<option value="">Seleccionar Cliente</option>*@
                                                <option value="all">Todos</option>
                                                @foreach (var client in @ViewBag.clientsCurrentProvider)
                                                {
                                                    <option value="@client.id">@client.id - @client.name</option>
                                                }
                                            </select>
                                            <span class="input-group-btn">
                                                <button id="change-filter-provider-client" class="btn btn-info"><i class="fas fa-sync-alt"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <div class="wrapper" @(ViewBag.CurrentUser.is_provider ? "style=margin-top:74px" : null)>
        @Html.Partial("~/Views/Partials/Menu.cshtml")
        <main>
            <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed menu-toggle">
                                <span class="sr-only">Menú</span>
                                <span class="icon-bar closing"></span>
                                <span class="icon-bar closing"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <h2>@ViewBag.Title</h2>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="container-fluid">
                <div class="panel">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <!-- errorMessageModal -->
    <div class="modal fade" id="errorMessageModal" tabindex="-1" role="dialog" aria-labelledby="errorMessageModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="errorMessageModalLabel">¡Atención!</h3>
                </div>
                <div class="modal-body">
                    <p>
                        Hay algunos errores detectados en el Layout, favor de descargarlo para detectar y corregir antes de volver a subirlo.
                    </p>

                    <a href="#" class="btn btn-icon btn-pink mt-15 mb-15">
                        <span>Descargar Layout</span>
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- newCarrierModal -->
    <div class="modal fade" id="newCarrierModal" tabindex="-1" role="dialog" aria-labelledby="newCarrierModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="newCarrierModalLabel">Nuevo transportista</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="carrier">Transportista</label>
                            <input type="text" class="form-control" name="carrier" placeholder="Transportista">
                        </div>
                        <div class="form-group col-md-4 col-md-offset-4">
                            <a href="#" data-dismiss="modal" class="btn btn-default full-width">Cancelar</a>
                        </div>
                        <div class="form-group col-md-4">
                            <a href="#" class="btn btn-primary full-width create-carrier">Guardar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- newOperatorModal -->
    <div class="modal fade" id="newOperatorModal" tabindex="-1" role="dialog" aria-labelledby="newOperatorModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="newOperatorModalLabel">Nuevo operador</h3>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-12">
                                        <label for="driver_first_name">Nombre del operador</label>
                                        <input type="text" class="form-control" name="first_name" id="driver_first_name" placeholder="Nombre del operador">
                                    </div>
                                    <div class="form-group col-sm-6 col-md-12">
                                        <label for="driver_last_name">Apellidos</label>
                                        <input type="text" class="form-control" name="last_name" id="driver_last_name" placeholder="Apellidos">
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label for="driver_carrier_id">Transportista</label>
                                        <select class="form-control select2" name="carrier_id" id="driver_carrier_id">
                                            <option></option>
                                            @{
                                                if (ViewBag.carriers != null)
                                                {
                                                    foreach (var carrier in ViewBag.carriers)
                                                    {
                                                        <option value="@carrier.id">(@carrier.id) @carrier.name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label for="imss_number">No. IMSS</label>
                                        <input type="text" class="form-control" name="social_security_number" id="imss_number" placeholder="No. IMSS">
                                    </div>
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label for="driver_license">Licencia</label>
                                        <input type="text" class="form-control" name="driver_license_number" id="driver_license" placeholder="Licencia">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input name="picture_file" type="file" class="profilephoto-inputfile" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Documentación</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-4 col-md-4">
                                <div class="fileinput-grey">
                                    <input name="document_files" type="file" class="file" data-show-preview="false" data-show-remove="false" data-msg-placeholder="Subir" required multiple>
                                </div>
                            </div>
                            @*<div class="form-group col-sm-4 col-md-4">
                                    <a href="#" class="btn btn-secondary btn-icon full-width">
                                        <span>Descargar</span>
                                        <span class="glyphicon glyphicon-save"></span>
                                    </a>
                                </div>*@
                            <div class="form-group col-sm-4 col-md-4">
                                <a href="#" class="btn btn-primary btn-icon full-width create-operator">
                                    <span>Guardar</span>
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var urlBase = '@Url.Content("~/")'.slice(0, -1);
        var currentUser_json = @Html.Raw(ViewBag.currentUserJson != null ? "'" + ViewBag.currentUserJson + "'" : "null");
        var currentUser = currentUser_json != null ? JSON.parse(currentUser_json) : null;
        console.log(currentUser);
    </script>
    <script src="~/assets/libs/jquery/jquery-3.4.1.min.js"></script>
    <!-- Used to making facybox work correctly -->
    <script type="text/javascript">
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }

            if ($("#filter_provider_client_id").length > 0) {
                var hasFilterSession = @(Session["filter_provider_client_id"] == null ? "false" : "true");

                var session_provider_client_id = null;

                if (hasFilterSession) {
                    session_provider_client_id = '@(Session["filter_provider_client_id"])';
                    if (session_provider_client_id != '') {
                        $("#filter_provider_client_id").val(session_provider_client_id).trigger('change').attr("disabled", true);
                    }
                }

                $("#change-filter-provider-client").on("click", function (e) {
                    e.preventDefault();
                    $("#filter_provider_client_id").attr("disabled", false);
                });

                $("#filter_provider_client_id").on("change", function(){
                    filter_provider_client_id = $(this).val();
                    if (filter_provider_client_id != '') {
                        $("#filter_provider_client_id").attr("disabled", true);
                    }
                    if (filter_provider_client_id != '' && session_provider_client_id != filter_provider_client_id) {
                        $.ajax({
                            type: 'POST',
                            url: urlBase + '/ajax/login/session/make',
                            data: JSON.stringify({
                                name: 'filter_provider_client_id',
                                value: filter_provider_client_id,
                            }),
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            success: function (response) {
                                var message, icon;
                                if (response.error) {
                                    message = "No se puedo aplicar el filtro, intente de nuevo mas tarde.";
                                    icon = "error";
                                    Swal.fire({
                                        title: 'Aviso',
                                        text: message,
                                        icon: icon,
                                    }).then(function () {
                                        location.reload();
                                    });
                                } else {
                                    location.reload();
                                }
                            },
                            error: function (error) {
                                $("#filter_provider_client_id").attr("disabled", false);
                                console.log('fail');
                            }
                        });
                    }
                });

            }
        })();
    </script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/chartjs/dist/Chart.min.js"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/assets/libs/bootstrap-fileinput/js/locales/es.js"></script>
    <script src="~/assets/libs/data-tables/datatables.min.js"></script>
    <script src="~/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/assets/libs/select2/dist/js/i18n/es.js"></script>
    <script src="~/assets/libs/fancybox/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script src="~/assets/libs/fancybox/fancybox/jquery.fancybox-1.3.4.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es-us.js"></script>
    <script src="~/assets/libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/assets/libs/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.es.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js"></script>
    <script src="~/assets/libs/signature-pad/signature_pad.min.js"></script>
    <script src="~/assets/libs/validator/validator.js"></script>
    <script src="~/assets/libs/validator/lang/es.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
    <script>
        axios.defaults.baseURL = urlBase;
        Validator.useLang('es');
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
