﻿<nav class="sidebar">
    <ul class="nav navbar-nav menu">
        <li class="logo">
            <img alt="Yarda" src="~/assets/images/logo.png" class="logo-sidebar">
        </li>

        <li>
            <a href="#" class="dropdown-toggle bg-primary text-black" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                YARDA
            </a>
        </li>

        @*<li class="has-submenu">
            <a href="~/">
                <i class="fa fa-th-large" aria-hidden="true"></i>
                <span>dashboard</span>
            </a>

            <ul class="submenu">
                <li>
                    <a href="@Url.Action("Index", "ShippingSchedulesAjaxController")">
                        Programación de embarques
                    </a>
                </li>
            </ul>
        </li>*@
        <li>
            <a href="~/shipping-schedules">
                Programación Embarque
            </a>
        </li>
        <li>
            <a href="~/shipping-schedules/times-report">
                Reporte Tiempos Mulero
            </a>
        </li>
        <li>
            <a href="~/yard-mule-drivers/login-report">
                Reporte de inicio de sesión
            </a>
        </li>
        @if (new List
        <int?>
    {
            WSApiTrackingOneYarda.Models.UserRoles.ADMINISTRATOR,
            WSApiTrackingOneYarda.Models.UserRoles.SUPER_ADMIN,
            }.Contains(ViewBag.currentUser.auth))
        {
            <li>
                <a href="~/drivers">
                    Operadores
                </a>
            </li>
            <li>
                <a href="~/yard-mule-drivers">
                    Muleros
                </a>
            </li>
            <li>
                <a href="~/carriers">
                    Transportistas
                </a>
            </li>
            <li>
                <a href="~/clients">
                    Clientes
                </a>
            </li>
            <li>
                <a href="~/user-roles">
                    Perfiles
                </a>
            </li>
            <li>
                <a href="~/users">
                    Usuarios
                </a>
            </li>
            <li>
                <a href="~/shipping-statuses">
                    Estatus Embarque
                </a>
            </li>
            <li>
                <a href="~/trailer-statuses">
                    Estatus Remolques
                </a>
            </li>
            <li>
                <a href="~/providers">
                    Proveedores
                </a>
            </li>
        }

        <li class="has-submenu">
            <a href="~/logout">
                <span>Cerrar Sesión</span>
            </a>
        </li>
        @*<li>
            <a href="~/box-movements.html">
                Movimientos de cajas
            </a>
        </li>

        <li>
            <a href="~/operator.html">
                Operadores
            </a>
        </li>
        <li>
            <a href="~/muleros.html">
                Muleros
            </a>
        </li>
        <li>
            <a href="~/transportista.html">
                Transportistas
            </a>
        </li>

        <li>
            <a href="~/entry-register.html">
                Registro entrada
            </a>
        </li>

        <li>
            <a href="#">
                Asignación Rampa
            </a>
        </li>

        <li>
            <a href="#">
                Registro Salida
            </a>
        </li>

        <li>
            <a href="#">
                Inventario
            </a>
        </li>

        <li>
            <a href="#">
                Reportes
            </a>
        </li>*@
    </ul>
</nav>
