﻿@{
    ViewBag.Title = "Operadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#operator').DataTable({
                responsive: true,
                pageResize: true,
                ordering: false,
                data: [],
                scrollY: 500,
                deferRender: true,
                scroller: {
                    loadingIndicator: true
                },
                dom: 'frtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'applied',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        //pageSize: 'A1',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'applied',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                ],
                language: {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar _MENU_ registros",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    },
                    aria: {
                        sortAscending: ": Activar para ordenar la columna de manera ascendente",
                        sortDescending: ": Activar para ordenar la columna de manera descendente"
                    },
                    buttons: {
                        copy: "Copiar",
                        colvis: "Visibilidad"
                    }
                },
                columnDefs: [
                    {
                        targets: 'edit',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return '<a href="#" class="edit-button" title="Editar"><span class="glyphicon glyphicon-edit text-black"></span></a>';
                        },
                    },
                    {
                        targets: 'photo',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return '<a href="#" class="photo-button" title="Foto"><span class="glyphicon glyphicon-picture text-black"></span></a>';
                        },
                    },
                    {
                        targets: 'documentation',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return '<a href="#" class="documentation-button" data-id="'+row.id+'" title="Ver Documentación"><span class="glyphicon glyphicon glyphicon-file text-black"></span></a>';
                        },
                    },
                    {
                        targets: 'issues',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return '';
                        },
                    },
                    {
                        targets: 'name',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.first_name + ' ' + row.last_name;
                        },
                    },
                    {
                        targets: 'shipping_schedule',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return '';
                            return row.shipping_schedule;
                        },
                    },
                    {
                        targets: 'carrier',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.carrier.name;
                        },
                    },
                    {
                        targets: 'social_security_number',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.social_security_number;
                        },
                    },
                    {
                        targets: 'driver_license_number',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.driver_license_number;
                        },
                    },
                ],
                fnDrawCallback: function () {
                    $(".fancybox-item").fancybox({
                        overlayColor: '#000',
                        scrolling: 'no',
                        padding: 0,
                        width: 900,
                        height: 500,
                        titleShow: false,
                        onStart: function () {
                            $("body").css({
                                'overflow-y': 'hidden',
                                'padding-right': '17px'
                            });
                        },
                        onClosed: function () {
                            $("body").css({
                                'overflow-y': 'visible',
                                'padding-right': '0'
                            });
                        }
                    });
                }
            });

            var updateDriversTable = function (results) {
                table.clear();
                table.rows.add(results);
                table.draw();
            }

            var searchDrivers = function () {
                table.clear();
                table.draw();

                $.ajax({
                    type: 'GET',
                    url: urlBase + '/ajax/drivers',
                    data: JSON.stringify(),
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (results) {
                        if (_.isEmpty(results)) {
                            Swal.fire({
                                title: 'Aviso',
                                text: 'No se encontraron resultados.',
                                type: 'warning',
                                confirmButtonColor: "#f58249",
                                confirmButtonText: "Aceptar",
                            });
                            return;
                        }

                        // console.log(permisos);

                        updateDriversTable(results);
                    },
                    error: function (error) {
                        Swal.fire('Aviso', 'Vuelva a intentar, por favor.', 'error');
                    }
                });
            }

            searchDrivers();

            $('#operator_filter').hide();

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var operator_name_input = $("input[name='operator_name']").val().toLowerCase();
                    var license_number_input = $("input[name='license_number']").val().toLowerCase();
                    var shipment_number_input = $("input[name='shipment_number']").val().toLowerCase();

                    var operator_name = data[3].toLowerCase() || '';
                    var license_number = data[7].toLowerCase() || '';
                    var shipment_number = data[4].toLowerCase() || '';

                    if ((!operator_name_input.trim() || operator_name.indexOf(operator_name_input) != -1 || operator_name_input == operator_name) &&
                        (!license_number_input.trim() || license_number.indexOf(license_number_input) != -1 || license_number_input == license_number) &&
                        (!shipment_number_input.trim() || shipment_number.indexOf(shipment_number_input) != -1 || shipment_number_input == shipment_number)) {
                        return true;
                    }

                    return false;
                }
            );

            $('#cleanFormButton').click(function (event) {
                event.preventDefault();
                $('.form_date').datetimepicker("reset");
                $('#operator_name').val('');
                $('#license_number').val('');
                $('#shipment_number').val('');
                table.draw();
            });

            $('#searchTableInput').keyup(function () {
                table.search($(this).val()).draw();
            });

            $('#searchTableButton').click(function (event) {
                event.preventDefault();
                table.draw();
            });

            $('#exportExcel').click(function (event) {
                event.preventDefault();
                table.button('1').trigger();
            });

            $('#exportPdf').click(function (event) {
                event.preventDefault();
                table.button('0').trigger();
            });

            $('#operator tbody').on('click', 'a.edit-button', function (event) {
                event.preventDefault();
                console.log(table.row($(this).parent().parent()).data());
                var data = table.row($(this).parent().parent()).data();

                var modal = $('#editDriverModal');

                modal.find('.modal-body input[name="id"]').val(data.id);
                modal.find('.modal-body input[name="first_name"]').val(data.first_name);
                modal.find('.modal-body input[name="last_name"]').val(data.last_name);
                modal.find('.modal-body select[name="carrier_id"]').val(data.carrier_id).trigger('change');
                modal.find('.modal-body input[name="social_security_number"]').val(data.social_security_number);
                modal.find('.modal-body input[name="driver_license_number"]').val(data.driver_license_number);

                $('#editDriverModal').modal('show');
            });

            // Borramos el formulario al cerrar el modal
            $('.modal').on('hidden.bs.modal', function () {
                $(this).find("form")[0].reset();
                $(this).find("form select").val('').trigger('change');
            });

            $('#operator tbody').on('click', 'a.photo-button', function (event) {
                event.preventDefault();
                var data = table.row($(this).parent().parent()).data();

                $.ajax({
                    url: urlBase + '/ajax/drivers/' + data.id + '/media',
                    data: data,
                    dataType: 'json',
                    type: 'GET',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        var media = _.find(response, { 'collection': 'picture' });

                        if (_.isUndefined(media)) {
                            Swal.fire({
                                title: 'Aviso',
                                text: 'No tiene imagen adjunta.',
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        $.fancybox({
                            'autoScale': true,
                            'autoDimensions': true,
                            'centerOnScroll': true,
                            'href': media.uri,
                        });
                    },
                    error: function (error) {
                        console.log('fail');
                    }
                });
            });

            $('#newDriverForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);

                form.find(":input:not(:file)").each(function () {
                    this.value = $(this).val().trim();
                });

                var data = new FormData($(this)[0]);

                $.ajax({
                    url: urlBase + '/ajax/drivers',
                    data: data,
                    dataType: 'json',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        Swal.fire({
                            title: 'Aviso',
                            text: 'Guardado correctamente.',
                            icon: 'success',
                        }).then(function () {
                            searchDrivers();

                            form.trigger('reset');
                            form.find('select').val(null).trigger('change');
                            var modal = form.parents('.modal');
                            modal.modal('hide');
                        });
                    },
                    error: function (error) {
                        console.log('fail');
                    }
                });
            });

            $('#editDriverForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);

                form.find(":input:not(:file)").each(function () {
                    this.value = $(this).val().trim();
                });

                var data = new FormData($(this)[0]);

                $.ajax({
                    url: urlBase + '/ajax/drivers/',
                    data: data,
                    dataType: 'json',
                    type: 'PUT',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        Swal.fire({
                            title: 'Aviso',
                            text: 'Guardado correctamente.',
                            icon: 'success',
                        }).then(function () {
                            searchDrivers();

                            var modal = form.parents('.modal');
                            modal.modal('hide');
                        });
                    },
                    error: function (error) {
                        console.log('fail');
                    }
                });
            });

            $('#operator').on("click", ".documentation-button", function (e) {
                e.preventDefault();
                console.log($(this));
                var driver_id = $(this).data("id");
                $.ajax({
                    url: window.urlBase + '/ajax/drivers/' + driver_id + '/documents',
                    // data: data,
                    dataType: 'json',
                    type: 'GET',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log(response);
                        if (response.error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        $.fancybox({
                            //width: 600,
                            //height: 300,
                            type: 'iframe',
                            autoScale: true,
                            autoDimensions: true,
                            centerOnScroll: true,
                            href: response.uri,
                        });
                    },
                    error: function (error) {
                        console.log('fail');

                        Swal.fire({
                            title: 'Aviso',
                            text: error.message,
                            icon: 'warning',
                            confirmButtonColor: '#f58249',
                            confirmButtonText: 'Aceptar',
                        });
                    }
                });
            });

            $('#DocumentationButton').click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: window.urlBase + '/ajax/drivers/' + $('#editDriverModal input[name="id"]').val() + '/documents',
                    // data: data,
                    dataType: 'json',
                    type: 'GET',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        //var media = _.find(response, { 'collection': 'picture' });

                        //if (_.isUndefined(media)) {
                        //    Swal.fire({
                        //        title: 'Aviso',
                        //        text: 'No tiene imagen adjunta.',
                        //        icon: 'warning',
                        //        confirmButtonColor: '#f58249',
                        //        confirmButtonText: 'Aceptar',
                        //    });

                        //    return;
                        //}

                        $.fancybox({
                            //width: 600,
                            //height: 300,
                            type: 'iframe',
                            autoScale: true,
                            autoDimensions: true,
                            centerOnScroll: true,
                            href: response.uri,
                        });
                    },
                    error: function (error) {
                        console.log('fail');

                        Swal.fire({
                            title: 'Aviso',
                            text: error.message,
                            icon: 'warning',
                            confirmButtonColor: '#f58249',
                            confirmButtonText: 'Aceptar',
                        });
                    }
                });
            });
        });
    </script>
}

<div class="panel-title">
    <form>
        <div class="row">
            <div class="form-group col-sm-4 col-md-3">
                <label for="operator_name">Nombre del operador</label>
                <input type="text" maxlength="50" class="form-control" id="operator_name" name="operator_name" placeholder="Nombre del operador">
            </div>

            <div class="form-group col-sm-4 col-md-2">
                <label for="license_number">No. licencia</label>
                <input type="text" maxlength="50" class="form-control" id="license_number" name="license_number" placeholder="No. licencia">
            </div>

            <div class="form-group col-sm-4 col-md-3">
                <label for="shipment_number">No. embarque</label>
                <input type="text" maxlength="50" class="form-control" id="shipment_number" name="shipment_number" placeholder="No. embarque">
            </div>

            <div class="form-group col-sm-3 col-md-2">
                <button type="submit" id="searchTableButton" class="btn btn-primary full-width btn-fixed-control">
                    Buscar
                </button>
            </div>
            <div class="form-group col-sm-3 col-md-2">
                <button type="button" id="cleanFormButton" class="btn btn-default full-width btn-fixed-control">
                    Limpiar
                </button>
            </div>
        </div>
    </form>
</div>

<div class="panel-subtitle">
    <form>
        <div class="row">
            <div class="form-group col-sm-4 col-md-4 col-lg-3">
                <a href="#newDriverModal" data-toggle="modal" class="btn btn-secondary full-width">
                    Nuevo operador
                </a>
            </div>

            <div class="form-group col-sm-5 col-md-5 col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Buscar" id="searchTableInput">
                    <span class="input-group-addon" title="Buscar">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="dropdown">
                    <button id="download" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Exportar
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li>
                            <a href="#" id="exportExcel">
                                PDF
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="exportPdf">
                                Excel
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="panel-content">
    <div class="table-responsive">
        <table id="operator" class="display">
            <thead>
                <tr>
                    <th class="not-export-col edit">Editar</th>
                    <th class="not-export-col photo">Fotografía</th>
                    <th class="not-export-col documentation">Documentación</th>
                    <th class="not-export-col issues">Incidencias</th>
                    <th class="name">Operador</th>
                    <th class="shipping_schedule">No. Embarque Asignado</th>
                    <th class="carrier">Transportista</th>
                    <th class="social_security_number">No. IMSS</th>
                    <th class="driver_license_number">No. Licencia</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- newDriverModal -->
<div class="modal fade" id="newDriverModal" tabindex="-1" role="dialog" aria-labelledby="newDriverModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="newDriverModalLabel">Nuevo operador</h3>
            </div>
            <div class="modal-body">
                <form id="newDriverForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="first_name">Nombre del operador</label>
                                    <input type="text" maxlength="50" class="form-control" name="first_name" placeholder="Nombre del operador" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="surname">Apellidos</label>
                                    <input type="text" maxlength="50" class="form-control" name="last_name" placeholder="Apellidos" required>
                                </div>
                                <div class="form-group col-sm-12 col-md-12">
                                    <label for="carrier">Transportista</label>
                                    <select class="form-control select2" name="carrier_id" required>
                                        <option></option>
                                        @foreach (var carrier in @ViewBag.carriers)
                                        {
                                            <option value="@carrier.id">(@carrier.id) @carrier.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="imss_number">No. IMSS</label>
                                    <input type="text" maxlength="50" class="form-control" name="social_security_number" placeholder="No. IMSS" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="license_number">Licencia</label>
                                    <input type="text" maxlength="50" class="form-control" name="driver_license_number" placeholder="Licencia" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input name="picture_file" type="file" class="profilephoto-inputfile" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Documentación</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 col-md-4">
                            <div class="fileinput-grey">
                                <input name="document_files" type="file" class="file" data-show-preview="false" data-show-remove="false" data-msg-placeholder="Subir" required multiple>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 col-md-4">
                            <button type="submit" class="btn btn-primary btn-icon full-width">
                                <span>Guardar</span>
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- editDriverModal -->
<div class="modal fade" id="editDriverModal" tabindex="-1" role="dialog" aria-labelledby="editDriverModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="editDriverModalLabel">Editar operador</h3>
            </div>
            <div class="modal-body">
                <form id="editDriverForm" enctype="multipart/form-data">
                    <input type="hidden" name="id" />
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="first_name">Nombre del operador</label>
                                    <input type="text" maxlength="50" class="form-control" name="first_name" placeholder="Nombre del operador" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="surname">Apellidos</label>
                                    <input type="text" maxlength="50" class="form-control" name="last_name" placeholder="Apellidos" required>
                                </div>
                                <div class="form-group col-sm-12 col-md-12">
                                    <label for="carrier">Transportista</label>
                                    <select class="form-control select2" name="carrier_id" required>
                                        <option></option>
                                        @foreach (var carrier in @ViewBag.carriers)
                                        {
                                            <option value="@carrier.id">(@carrier.id) @carrier.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="imss_number">No. IMSS</label>
                                    <input type="text" maxlength="50" class="form-control" name="social_security_number" placeholder="No. IMSS" readonly required>
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="license_number">Licencia</label>
                                    <input type="text" maxlength="50" class="form-control" name="driver_license_number" placeholder="Licencia" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input name="picture_file" type="file" class="profilephoto-inputfile">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Documentación</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 col-md-4">
                            <div class="fileinput-grey">
                                <input name="document_files" type="file" class="file" data-show-preview="false" data-show-remove="false" data-msg-placeholder="Subir" multiple>
                            </div>
                        </div>
                        <div class="form-group col-sm-4 col-md-4">
                            <a href="#" class="btn btn-secondary btn-icon full-width" id="DocumentationButton" target="_blank">
                                <span>Descargar</span>
                                <span class="glyphicon glyphicon-save"></span>
                            </a>
                        </div>
                        <div class="form-group col-sm-4 col-md-4">
                            <button type="submit" class="btn btn-primary btn-icon full-width">
                                <span>Actualizar</span>
                                <span class="glyphicon glyphicon-repeat"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
