﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yarda | Login</title>

    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/assets/favicon/safari-pinned-tab.svg" color="#feb938">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#feb938">

    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="~/assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/dashboard.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper v-align">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <div class="panel pt-15 pb-25 bg-light-grey">
                        <div class="panel-content">
                            <img src="~/assets/images/logo.png" class="logo-login">

                            <h1 class="text-center">
                                ¡BIENVENIDO!
                            </h1>
                            <h4 class="text-center">
                                Favor de ingresar sus datos
                            </h4>

                            <hr>

                            <form class="LoginForm">
                                <div class="form-group">
                                    <label for="user">Usuario</label>
                                    <input autofocus type="text" class="form-control" name="username" placeholder="Usuario" required>
                                </div>

                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-15">
                                        Iniciar Sesión
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/assets/js/dashboard.js"></script>

    <script>
        var urlBase = '@Url.Content("~/")'.slice(0, -1);
    </script>
    <script>
        $(function () {
            $('.LoginForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);

                var data = new FormData($(this)[0]);

                $.ajax({
                    url: urlBase + '/ajax/login',
                    data: data,
                    dataType: 'json',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.Error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.Error,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }
                        location.reload();
                        //Swal.fire({
                        //    title: 'Aviso',
                        //    text: 'Bienvenido',
                        //    icon: 'success',
                        //}).then(function () {
                        //    location.reload();
                        //});
                    },
                    error: function (error) {
                        console.log('fail');
                    }
                });
            });
        });
    </script>
</body>
</html>
