﻿@{
    ViewBag.Title = "Transportistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#operator').DataTable({
                responsive: true,
                pageResize: true,
                ordering: false,
                data: [],
                scrollY: 500,
                deferRender: true,
                scroller: {
                    loadingIndicator: true
                },
                dom: 'frtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'applied',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        //pageSize: 'A1',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'applied',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                ],
                language: {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar _MENU_ registros",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    },
                    aria: {
                        sortAscending: ": Activar para ordenar la columna de manera ascendente",
                        sortDescending: ": Activar para ordenar la columna de manera descendente"
                    },
                    buttons: {
                        copy: "Copiar",
                        colvis: "Visibilidad"
                    }
                },
                columnDefs: [
                    {
                        targets: 'edit',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return '<a href="#" class="edit-button" title="Editar"><span class="glyphicon glyphicon-edit text-black"></span></a>';
                        },
                    },
                    {
                        targets: 'name',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.name;
                        },
                    },
                    {
                        targets: 'rfc',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.rfc;
                        },
                    },
                    {
                        targets: 'street',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            if (_.isNull(row.address)) {
                                return '';
                            }

                            var address = _.filter([
                                row.address.street,
                            ]).join(', ');

                            return address;
                        },
                    }
                ],
                fnDrawCallback: function () {
                    $(".fancybox-item").fancybox({
                        overlayColor: '#000',
                        scrolling: 'no',
                        padding: 0,
                        width: 900,
                        height: 500,
                        titleShow: false,
                        onStart: function () {
                            $("body").css({
                                'overflow-y': 'hidden',
                                'padding-right': '17px'
                            });
                        },
                        onClosed: function () {
                            $("body").css({
                                'overflow-y': 'visible',
                                'padding-right': '0'
                            });
                        }
                    });
                }
            });

            var updateCarriersTable = function (results) {
                table.clear();
                table.rows.add(results);
                table.draw();
            }

            var searchCarriers = function () {
                table.clear();
                table.draw();

                $.ajax({
                    type: 'GET',
                    url: urlBase + '/ajax/carriers',
                    data: JSON.stringify(),
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (results) {
                        if (_.isEmpty(results)) {
                            Swal.fire({
                                title: 'Aviso',
                                text: 'No se encontraron resultados.',
                                type: 'warning',
                                confirmButtonColor: "#f58249",
                                confirmButtonText: "Aceptar",
                            });
                            return;
                        }

                        // console.log(permisos);

                        updateCarriersTable(results);
                    },
                    error: function (error) {
                        Swal.fire('Aviso', 'Vuelva a intentar, por favor.', 'error');
                    }
                });
            }

            searchCarriers();

            $('#operator_filter').hide();

            //$.fn.dataTable.ext.search.push(
            //    function (settings, data, dataIndex) {
            //        var operator_name_input = $("input[name='operator_name']").val().toLowerCase();
            //        var license_number_input = parseInt($("input[name='license_number']").val());
            //        var shipment_number_input = parseInt($("input[name='shipment_number']").val());

            //        var operator_name = data[1].toLowerCase() || '';
            //        var license_number = parseFloat(data[8]) || 0;
            //        var shipment_number = parseFloat(data[5]) || 0;

            //        if ((!operator_name_input.trim() || operator_name.indexOf(operator_name_input) != -1 || operator_name_input == operator_name) &&
            //            (isNaN(license_number_input) || license_number == license_number_input) &&
            //            (isNaN(shipment_number_input) || shipment_number == shipment_number_input)) {
            //            return true;
            //        }

            //        return false;
            //    }
            //);

            $('#cleanFormButton').click(function (event) {
                event.preventDefault();
                $('.form_date').datetimepicker("reset");
                $('#operator_name').val('');
                $('#license_number').val('');
                $('#shipment_number').val('');
                table.draw();
            });

            $('#searchTableInput').keyup(function () {
                table.search($(this).val()).draw();
            });

            $('#searchTableButton').click(function (event) {
                event.preventDefault();
                table.draw();
            });

            $('#exportExcel').click(function (event) {
                event.preventDefault();
                table.button('1').trigger();
            });

            $('#exportPdf').click(function (event) {
                event.preventDefault();
                table.button('0').trigger();
            });

            $('#operator tbody').on('click', 'a.edit-button', function (event) {
                event.preventDefault();
                console.log(table.row($(this).parent().parent()).data());
                var data = table.row($(this).parent().parent()).data();

                var modal = $('#editCarrierModal');

                modal.find('.modal-body input[name="id"]').val(data.id);
                modal.find('.modal-body input[name="name"]').val(data.name);
                modal.find('.modal-body input[name="rfc"]').val(data.rfc);
                if (!_.isNull(data.address)) {
                    modal.find('.modal-body input[name="street"]').val(data.address.street);
                }

                $('#editCarrierModal').modal('show');
            });

            $('#newCarrierForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);

                form.find(":input").each(function () {
                    this.value = $(this).val().trim();
                });

                var data = new FormData($(this)[0]);

                $.ajax({
                    url: urlBase + '/ajax/carriers',
                    data: data,
                    dataType: 'json',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                             Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        Swal.fire({
                            title: 'Aviso',
                            text: 'Guardado correctamente.',
                            icon: 'success',
                        }).then(function () {
                            searchCarriers();

                            form.trigger('reset');
                            form.find('select').val(null).trigger('change');
                            var modal = form.parents('.modal');
                            modal.modal('hide');
                        });
                    },
                    error: function (error) {
                        console.log('fail');
                    }
                });
            });

            $('#editCarrierForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);

                form.find(":input").each(function () {
                    this.value = $(this).val().trim();
                });

                var data = new FormData($(this)[0]);

                $.ajax({
                    url: urlBase + '/ajax/carriers/',
                    data: data,
                    dataType: 'json',
                    type: 'PUT',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        Swal.fire({
                            title: 'Aviso',
                            text: 'Guardado correctamente.',
                            icon: 'success',
                        }).then(function () {
                            searchCarriers();

                            var modal = form.parents('.modal');
                            modal.modal('hide');
                        });
                    },
                    error: function (error) {
                        console.log('fail');
                    }
                });
            });

            $('.modal#newCarrierModal, .modal#editCarrierModal').on('hidden.bs.modal', function (event) {
                var inputs = $(this).find(":input");
                $.each(inputs, function (index, field) {
                    $(field).val(null).trigger("change");
                });
            });
        });</script>
}

<div class="panel-subtitle">
    <form>
        <div class="row">
            <div class="form-group col-sm-4 col-md-4 col-lg-3">
                <a href="#newCarrierModal" data-toggle="modal" class="btn btn-secondary full-width">
                    Nuevo transportista
                </a>
            </div>

            <div class="form-group col-sm-5 col-md-5 col-lg-6">
                <div class="input-group">
                    <input type="text" maxlength="50" class="form-control" name="search" placeholder="Buscar" id="searchTableInput">
                    <span class="input-group-addon" title="Buscar">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="dropdown">
                    <button id="download" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Exportar
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li>
                            <a href="#" id="exportExcel">
                                PDF
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="exportPdf">
                                Excel
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="panel-content">
    <div class="table-responsive">
        <table id="operator" class="display">
            <thead>
                <tr>
                    <th class="not-export-col edit">Editar</th>
                    <th class="name">Nombre</th>
                    <th class="rfc">RFC</th>
                    <th class="street">Dirección</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- newCarrierModal -->
<div class="modal fade" id="newCarrierModal" tabindex="-1" role="dialog" aria-labelledby="newCarrierModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="newCarrierModalLabel">Nuevo transportista</h3>
            </div>
            <div class="modal-body">
                <form id="newCarrierForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="name">Nombre</label>
                                    <input type="text" maxlength="50" class="form-control" name="name" placeholder="Nombre" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="rfc">RFC</label>
                                    <input type="text" maxlength="50" class="form-control" name="rfc" placeholder="RFC" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="address">Dirección</label>
                                    <input type="text" maxlength="50" class="form-control" name="street" placeholder="Dirección" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4 col-md-4">
                            <button type="submit" class="btn btn-primary btn-icon full-width">
                                <span>Guardar</span>
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- editCarrierModal -->
<div class="modal fade" id="editCarrierModal" tabindex="-1" role="dialog" aria-labelledby="editCarrierModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="editCarrierModalLabel">Editar transportista</h3>
            </div>
            <div class="modal-body">
                <form id="editCarrierForm" enctype="multipart/form-data">
                    <input type="hidden" name="id" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="name">Nombre</label>
                                    <input type="text" maxlength="50" class="form-control" name="name" placeholder="Nombre" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="rfc">RFC</label>
                                    <input type="text" maxlength="50" class="form-control" name="rfc" placeholder="RFC" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="address">Dirección</label>
                                    <input type="text" maxlength="50" class="form-control" name="street" placeholder="Dirección" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-4 col-md-4">
                            <button type="submit" class="btn btn-primary btn-icon full-width">
                                <span>Actualizar</span>
                                <span class="glyphicon glyphicon-repeat"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
