﻿@{
    ViewBag.Title = "Estatus Remolques";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">

        var model = '@ViewBag.model';
        var modelLabel = '@ViewBag.modelLabel';

        $(document).ready(function () {
            var table = $('#'+model).DataTable({
                responsive: true,
                pageResize: true,
                ordering: false,
                data: [],
                scrollY: 500,
                deferRender: true,
                scroller: {
                    loadingIndicator: true
                },
                dom: 'frtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'applied',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        //orientation: 'landscape',
                        //pageSize: 'A1',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'applied',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                ],
                language: {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar _MENU_ registros",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    },
                    aria: {
                        sortAscending: ": Activar para ordenar la columna de manera ascendente",
                        sortDescending: ": Activar para ordenar la columna de manera descendente"
                    },
                    buttons: {
                        copy: "Copiar",
                        colvis: "Visibilidad"
                    }
                },
                columns: [
                    { data: "" },
                    //{ data: "name", className: "name_field text-center" },
                    { data: "label", className: "label_field text-center" },
                ],
                columnDefs: [
                    {
                        targets: "actions",
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return '<button data-id="' + row.id + '" class="edit btn btn-default">' +
                                '<i class="fas fa-edit"></i>' +
                                '</button>';
                        },
                    }
                ],
                fnDrawCallback: function () {
                    $(".fancybox-item").fancybox({
                        overlayColor: '#000',
                        scrolling: 'no',
                        padding: 0,
                        width: 900,
                        height: 500,
                        titleShow: false,
                        onStart: function () {
                            $("body").css({
                                'overflow-y': 'hidden',
                                'padding-right': '17px'
                            });
                        },
                        onClosed: function () {
                            $("body").css({
                                'overflow-y': 'visible',
                                'padding-right': '0'
                            });
                        }
                    });
                }
            });

            var refreshTable = function (results) {
                table.clear();
                table.rows.add(results);
                table.draw();
            }

            var getDataTable = function () {
                table.clear();
                table.draw();

                $.ajax({
                    type: 'GET',
                    url: urlBase + '/ajax/'+model,
                    data: JSON.stringify(),
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (results) {
                        if (_.isEmpty(results)) {
                            Swal.fire({
                                title: 'Aviso',
                                text: 'No se encontraron resultados.',
                                type: 'warning',
                                confirmButtonColor: "#f58249",
                                confirmButtonText: "Aceptar",
                            });
                            return;
                        }

                        // console.log(permisos);

                        refreshTable(results);
                    },
                    error: function (error) {
                        Swal.fire('Aviso', 'Vuelva a intentar, por favor.', 'error');
                    }
                });
            }

            getDataTable();

            $('#'+model+'_filter').hide();

            // Editar esto con los filtros necesarios segun modelo
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var label_input = $("input[name='label']").val().toLowerCase();

                    if (!label_input.trim()) {
                        return true;
                    }

                    return false;
                }
            );

            $('#cleanFormButton').click(function (event) {
                event.preventDefault();
                $('.form_date').datetimepicker("reset");
                var form = $(this).parents("form");

                form.trigger("reset");
                form.find("select").val(null).trigger('change');

                table.draw();
            });

            $('#searchTableInput').keyup(function () {
                table.search($(this).val()).draw();
            });

            $('#searchTableButton').click(function (event) {
                event.preventDefault();
                table.draw();
            });

            $('#exportExcel').click(function (event) {
                event.preventDefault();
                table.button('1').trigger();
            });

            $('#exportPdf').click(function (event) {
                event.preventDefault();
                table.button('0').trigger();
            });

            $('#'+model+' tbody').on('click', 'button.edit', function (event) {
                event.preventDefault();

                var url = urlBase + '/ajax/'+model+'/';

                var id_selected = $(this).data("id");

                var modal = $("#edit-@ViewBag.model-modal");
                var form = modal.find("form");
                //console.log(id_selected);

                //return false;

                $.ajax({
                    type: "GET",
                    url: url + id_selected,
                    data: JSON.stringify(),
                    async: true,
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (shippingSchedule) {
                        //console.log(shipping_schedule.shipping_number);

                        $.each(Object.keys(shippingSchedule), function (index, key) {

                            var valueFormat = null;

                            switch (key) {
                                default:
                                    valueFormat = shippingSchedule[key];
                                    break;
                            }

                            modal.find('.modal-body :input[name="' + key + '"]').val(valueFormat).trigger('change');

                            //console.log(key, valueFormat);

                        });
                    },
                    error: function (error) {
                        console.log(error.responseJSON);
                        var error = error.responseJSON;
                        Swal.fire('Aviso', error.message, 'error');
                    }
                });

                $('#edit-'+model+'-modal').modal('show');

                $('#edit-'+model+'-modal').on('hidden.bs.modal', function (event) {
                    form.trigger("reset");
                    form.find("select").val(null).trigger('change');
                });
            });

            $("form#"+model).on("submit", function (e) {
                e.preventDefault();

                console.log("Enviando formulario");

                var url = urlBase + '/ajax/'+model;
                var form = $(this);

                form.find(":input").each(function () {
                    this.value = $(this).val().trim();
                });

                var dataForm = new FormData(form[0]);
                //var data = JSON.stringify(Object.fromEntries(dataForm));
                var method = form.find('input[name=_method]').val();

                var message_success = null;

                switch (method) {
                    case "POST":
                        message_success = modelLabel + " creado satisfactoriamente";
                        break;

                    case "PUT":
                        message_success = modelLabel + " actualizado satisfactoriamente";
                        break;
                }

                $.ajax({
                    url: url,
                    data: dataForm,
                    dataType: 'json',
                    type: method,
                    contentType: false,
                    processData: false,
                    success: function (registros) {
                        Swal.fire({
                            title: 'Sistema',
                            text: message_success,
                            type: 'success',
                            confirmButtonColor: "#f58249",
                            confirmButtonText: "Aceptar",
                            closeOnConfirm: false
                        }).then((confirmed) => {
                            form.trigger("reset");
                            form.find("select").val(null).trigger('change');
                            var modal = form.parents(".modal");
                            modal.modal('hide');
                            getDataTable();
                        });
                    },
                    error: function (error) {
                        console.log(error.responseJSON);
                        var error = error.responseJSON;
                        Swal.fire('Aviso', error.message, 'error');
                    }
                });
            });

            $('.modal#edit-@ViewBag.model-modal, .modal#new-@ViewBag.model-modal').on('hidden.bs.modal', function (event) {
                var inputs = $(this).find(":input:not([name=_method])");
                $.each(inputs, function (index, field) {
                    $(field).val(null).trigger("change");
                });
            });
        });
    </script>
}

<div class="panel-title">
    @*<form>
            <div class="row">
                <div class="form-group col-sm-4 col-md-3">
                    <label for="label">Nombre del @ViewBag.modelLabel</label>
                    <input type="text" class="form-control" id="label" name="label" placeholder="Nombre del @ViewBag.modelLabel">
                </div>

                <div class="form-group col-sm-3 col-md-2">
                    <button type="submit" id="searchTableButton" class="btn btn-primary full-width btn-fixed-control">
                        Buscar
                    </button>
                </div>
                <div class="form-group col-sm-3 col-md-2">
                    <button type="button" id="cleanFormButton" class="btn btn-default full-width btn-fixed-control">
                        Limpiar
                    </button>
                </div>
            </div>
        </form>*@
</div>

<div class="panel-subtitle">
    <form>
        <div class="row">
            <div class="form-group col-sm-4 col-md-4 col-lg-3">
                <a href="#new-@ViewBag.model-modal" data-toggle="modal" class="btn btn-secondary full-width">
                    Nuevo @ViewBag.modelLabel
                </a>
            </div>

            <div class="form-group col-sm-5 col-md-5 col-lg-6">
                <div class="input-group">
                    <input type="text" maxlength="50" class="form-control" name="search" placeholder="Buscar" id="searchTableInput">
                    <span class="input-group-addon" title="Buscar">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="dropdown">
                    <button id="download" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Exportar
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li>
                            <a href="#" id="exportExcel">
                                PDF
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="exportPdf">
                                Excel
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="panel-content">
    <div class="table-responsive">
        <table id="@ViewBag.model" class="display">
            <thead>
                <tr>
                    <th class="not-export-col actions">Editar</th>
                    @*<th class="name_field">Nombre</th>*@
                    <th class="label_field">Etiqueta</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- newModal -->
<div class="modal fade" id="new-@ViewBag.model-modal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="newModalLabel">Nuevo @ViewBag.modelLabel</h3>
            </div>
            <div class="modal-body">
                <form id="@ViewBag.model" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-sm-8 col-md-12">
                            <label for="label">Nombre del estatus</label>
                            <input type="text" maxlength="50" class="form-control" name="label" placeholder="Nombre del estatus" required>
                        </div>
                        <div class="form-group col-sm-4 col-md-4">
                            <button type="submit" class="btn btn-primary full-width btn-fixed-control">Guardar</button>
                            <input type="hidden" name="_method" value="POST" readonly />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- editModal -->
<div class="modal fade" id="edit-@ViewBag.model-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="editModalLabel">Editar @ViewBag.modelLabel</h3>
            </div>
            <div class="modal-body">
                <form id="@ViewBag.model" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-sm-8 col-md-12">
                            <label for="label">Estatus de remolque</label>
                            <input type="text" class="form-control" name="label" placeholder="Estatus de remolque" required>
                        </div>
                        <div class="form-group col-sm-4 col-md-4">
                            <button type="submit" class="btn btn-primary full-width btn-fixed-control">Actualizar</button>
                            <input type="hidden" name="_method" value="PUT" readonly />
                            <input type="hidden" name="id" value="" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





@*@model IEnumerable<WSApiTrackingOneYarda.Models.TrailerStatus>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.label)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.label)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@
