﻿@model WSApiTrackingOneYarda.Models.Provider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Provider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.address.street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address.street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clabe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clabe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.certification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.certification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
