﻿
@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">

        var model = '@ViewBag.model';
        var modelLabel = '@ViewBag.modelLabel';

        $(document).ready(function () {
            var table = $('#'+model).DataTable({
                responsive: true,
                pageResize: true,
                ordering: false,
                data: [],
                scrollY: 500,
                deferRender: true,
                scroller: {
                    loadingIndicator: true
                },
                dom: 'frtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'applied',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        //orientation: 'landscape',
                        //pageSize: 'A1',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'applied',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                ],
                language: {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar _MENU_ registros",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    },
                    aria: {
                        sortAscending: ": Activar para ordenar la columna de manera ascendente",
                        sortDescending: ": Activar para ordenar la columna de manera descendente"
                    },
                    buttons: {
                        copy: "Copiar",
                        colvis: "Visibilidad"
                    }
                },
                columns: [
                    { data: "" },
                    { data: "", className: "full_name_field text-center" },
                    //{ data: "", className: "name_field text-center" },
                    //{ data: "", className: "first_last_name_field text-center" },
                    //{ data: "", className: "second_last_name_field text-center" },
                    { data: "rfc", className: "rfc_field text-center" },
                    { data: "zipcode", className: "zipcode_field text-center" },
                    { data: "street", className: "street_field text-center" },
                    { data: "ext_number", className: "ext_number_field text-center" },
                    { data: "int_number", className: "int_number_field text-center" },
                    { data: "neighborhood", className: "neighborhood_field text-center" },
                    { data: "state", className: "state_field text-center" },
                    { data: "country", className: "country_field text-center" },
                    { data: "city", className: "city_field text-center" },
                ],
                columnDefs: [
                    {
                        targets: "actions",
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return '<button data-id="' + row.id + '" class="edit btn btn-default">' +
                                '<i class="fas fa-edit"></i>' +
                                '</button>';
                        },
                    },
                    {
                        targets: "full_name_field",
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.name+" "+row.first_last_name+" "+row.second_last_name;
                        },
                    }
                ],
                fnDrawCallback: function () {
                    $(".fancybox-item").fancybox({
                        overlayColor: '#000',
                        scrolling: 'no',
                        padding: 0,
                        width: 900,
                        height: 500,
                        titleShow: false,
                        onStart: function () {
                            $("body").css({
                                'overflow-y': 'hidden',
                                'padding-right': '17px'
                            });
                        },
                        onClosed: function () {
                            $("body").css({
                                'overflow-y': 'visible',
                                'padding-right': '0'
                            });
                        }
                    });
                }
            });

            var refreshTable = function (results) {
                table.clear();
                table.rows.add(results);
                table.draw();
            }

            var getDataTable = function () {
                table.clear();
                table.draw();

                $.ajax({
                    type: 'GET',
                    url: urlBase + '/ajax/'+model,
                    data: JSON.stringify(),
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (results) {
                        if (_.isEmpty(results)) {
                            Swal.fire({
                                title: 'Aviso',
                                text: 'No se encontraron resultados.',
                                type: 'warning',
                                confirmButtonColor: "#f58249",
                                confirmButtonText: "Aceptar",
                            });
                            return;
                        }

                        // console.log(permisos);

                        refreshTable(results);
                    },
                    error: function (error) {
                        Swal.fire('Aviso', 'Vuelva a intentar, por favor.', 'error');
                    }
                });
            }

            getDataTable();

            $('#'+model+'_filter').hide();

            // Editar esto con los filtros necesarios segun modelo
            //$.fn.dataTable.ext.search.push(
            //    function (settings, data, dataIndex) {
            //        var label_input = $("input[name='label']").val().toLowerCase();

            //        if (!label_input.trim()) {
            //            return true;
            //        }

            //        return false;
            //    }
            //);

            $('#cleanFormButton').click(function (event) {
                event.preventDefault();
                $('.form_date').datetimepicker("reset");
                var form = $(this).parents("form");

                form.trigger("reset");
                form.find("select").val(null).trigger('change');

                table.draw();
            });

            $('#searchTableInput').keyup(function () {
                table.search($(this).val()).draw();
            });

            $('#searchTableButton').click(function (event) {
                event.preventDefault();
                table.draw();
            });

            $('#exportExcel').click(function (event) {
                event.preventDefault();
                table.button('1').trigger();
            });

            $('#exportPdf').click(function (event) {
                event.preventDefault();
                table.button('0').trigger();
            });

            $('#'+model+' tbody').on('click', 'button.edit', function (event) {
                event.preventDefault();

                var url = urlBase + '/ajax/'+model+'/';

                var id_selected = $(this).data("id");

                var modal = $("#edit-@ViewBag.model-modal");
                var form = modal.find("form");
                //console.log(id_selected);

                //return false;

                $.ajax({
                    type: "GET",
                    url: url + id_selected,
                    data: JSON.stringify(),
                    async: true,
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (shippingSchedule) {
                        //console.log(shipping_schedule.shipping_number);

                        $.each(Object.keys(shippingSchedule), function (index, key) {

                            var valueFormat = null;

                            switch (key) {
                                default:
                                    valueFormat = shippingSchedule[key];
                                    break;
                            }

                            modal.find('.modal-body :input[name="' + key + '"]').val(valueFormat).trigger('change');

                            //console.log(key, valueFormat);

                        });
                    },
                    error: function (error) {
                        console.log(error.responseJSON);
                        var error = error.responseJSON;
                        Swal.fire('Aviso', error.message, 'error');
                    }
                });

                $('#edit-'+model+'-modal').modal('show');

            });

            $("form#"+model).on("submit", function (e) {
                e.preventDefault();

                console.log("Enviando formulario");

                var url = urlBase + '/ajax/'+model;
                var form = $(this);

                form.find(":input").each(function () {
                    this.value = $(this).val().trim();
                });

                //form.trigger("reset")
                //form.find("select").val(null).trigger('change');
                //var modal = form.parents(".modal");
                //modal.modal('hide');
                //getDataTable();

                //return false;

                var dataForm = new FormData(form[0]);
                var data = JSON.stringify(Object.fromEntries(dataForm));
                var method = form.find('input[name=_method]').val();

                var message_success = null;
                var contentType = 'application/json';
                var processData = false;

                switch (method) {
                    case "POST":
                        message_success = modelLabel + " creado satisfactoriamente";
                        var data = dataForm;
                        contentType = false;
                        processData = false;
                        break;

                    case "PUT":
                        message_success = modelLabel + " actualizado satisfactoriamente";
                        var data = dataForm;
                        contentType = false;
                        processData = false;
                        break;
                }

                $.ajax({
                    type: method,
                    url: url,
                    data: data,
                    async: true,
                    contentType: contentType,
                    processData: processData,
                    dataType: 'json',
                    success: function (registros) {
                        Swal.fire({
                            title: 'Sistema',
                            text: message_success,
                            type: 'success',
                            confirmButtonColor: "#f58249",
                            confirmButtonText: "Aceptar",
                            closeOnConfirm: false
                        }).then((confirmed) => {
                            form.trigger("reset");
                            form.find("select").val(null).trigger('change');
                            var modal = form.parents(".modal");
                            modal.modal('hide');
                            getDataTable();
                        });
                    },
                    error: function (error) {
                        console.log(error.responseJSON);
                        var error = error.responseJSON;
                        Swal.fire('Aviso', error.message, 'error');
                    }
                });
            });

            // Resetear formulario de modal al cerrar la ventana
            $('.modal').on('hidden.bs.modal', function (event) {
                var form = $(this).find("form");
                form.trigger("reset");
                form.find("select").val(null).trigger('change');
            });

            // Personalizar el mensaje de validación del formulario
            //$("form :input").on("invalid", function(event) {
            //    // console.log($(this).attr("type"));
            //    // console.log($(this).data("input-type"));
            //    switch ($(this).data("input-type") != undefined ? $(this).data("input-type") : $(this).attr("type")) {
            //        case "number":
            //            event.target.setCustomValidity("El campo solo puede contener números");
            //            break;
            //    }
            //});

        });
    </script>
}

<div class="panel-subtitle">

    <div class="row">
        <div class="form-group col-sm-4 col-md-4 col-lg-3">
            <a href="#new-@ViewBag.model-modal" data-toggle="modal" class="btn btn-secondary full-width">
                Nuevo @ViewBag.modelLabel
            </a>
        </div>

        <div class="form-group col-sm-5 col-md-5 col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Buscar" id="searchTableInput">
                <span class="input-group-addon" title="Buscar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="dropdown">
                <button id="download" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Exportar
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" aria-labelledby="download">
                    <li>
                        <a href="#" id="exportExcel">
                            PDF
                            <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="exportPdf">
                            Excel
                            <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="panel-content">
    <div class="table-responsive">
        <table id="@ViewBag.model" class="display">
            <thead>
                <tr>
                    <th class="not-export-col actions">Editar</th>
                    <th class="full_name_field">Nombre</th>
                    <th class="rfc_field">RFC</th>
                    <th class="zipcode_field">Código Postal</th>
                    <th class="street_field">Calle</th>
                    <th class="ext_number_field">No. Ext.</th>
                    <th class="int_number_field">No. Int.</th>
                    <th class="neighborhood_field">Colonia</th>
                    <th class="state_field">Estado</th>
                    <th class="country_field">País</th>
                    <th class="city_field">Ciudad</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- newModal -->
<div class="modal fade" id="new-@ViewBag.model-modal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="newModalLabel">Nuevo @ViewBag.modelLabel</h3>
            </div>
            <div class="modal-body">
                <form id="@ViewBag.model" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-sm-3 col-md-4">
                            <label for="name">Nombre</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="name" name="name" placeholder="Nombre" required>
                        </div>

                        <div class="form-group col-sm-3 col-md-4">
                            <label for="first_last_name">Primer apellido</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="first_last_name" name="first_last_name" placeholder="Primer apellido" required>
                        </div>

                        <div class="form-group col-sm-3 col-md-4">
                            <label for="second_last_name">Segundo apellido</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="second_last_name" name="second_last_name" placeholder="Segundo apellido" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2 col-md-2">
                            <label for="rfc">RFC</label>
                            <input type="text" maxlength="50" pattern="^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})\d{2}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)(\w{2})([A|a|0-9]{1}))$|^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})([02468][048]|[13579][26])0229)(\w{2})([A|a|0-9]{1})$" class="form-control" id="rfc" name="rfc" placeholder="RFC" required>
                        </div>

                        <div class="form-group col-sm-2 col-md-2">
                            <label for="zipcode">Código Postal</label>
                            <input type="number" maxlength="50" pattern="[0-9]+" class="form-control" id="zipcode" name="zipcode" placeholder="Código Postal" required>
                        </div>

                        <div class="form-group col-sm-2 col-md-4">
                            <label for="street">Calle</label>
                            <input type="text" maxlength="50" class="form-control" id="street" name="street" placeholder="Calle" required>
                        </div>

                        <div class="form-group col-sm-2 col-md-2">
                            <label for="ext_number">No. Exterior</label>
                            <input type="number" maxlength="50" class="form-control" id="ext_number" pattern="[0-9]+" name="ext_number" placeholder="No. Exterior" required>
                        </div>

                        <div class="form-group col-sm-2 col-md-2">
                            <label for="int_number">No. Interior</label>
                            <input type="number" maxlength="50" class="form-control" id="int_number" pattern="[0-9]+" name="int_number" placeholder="No. Interior">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-3 col-md-3">
                            <label for="neighborhood">Colonia</label>
                            <input type="text" maxlength="50" class="form-control" id="neighborhood" name="neighborhood" placeholder="Colonia" required>
                        </div>

                        <div class="form-group col-sm-3 col-md-3">
                            <label for="state">Estado</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="state" name="state" placeholder="Estado" required>
                        </div>

                        <div class="form-group col-sm-3 col-md-3">
                            <label for="country">País</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="country" name="country" placeholder="País" required>
                        </div>

                        <div class="form-group col-sm-3 col-md-3">
                            <label for="city">Ciudad</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="city" name="city" placeholder="Ciudad" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-4 col-md-4">
                            <button type="submit" class="btn btn-primary full-width btn-fixed-control">Guardar</button>
                            <input type="hidden" name="_method" value="POST" readonly />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- editModal -->
<div class="modal fade" id="edit-@ViewBag.model-modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="editModalLabel">Editar @ViewBag.modelLabel</h3>
            </div>
            <div class="modal-body">
                <form id="@ViewBag.model" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-sm-3 col-md-4">
                            <label for="name">Nombre</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="name" name="name" placeholder="Nombre" required>
                        </div>

                        <div class="form-group col-sm-3 col-md-4">
                            <label for="first_last_name">Primer apellido</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="first_last_name" name="first_last_name" placeholder="Primer apellido" required>
                        </div>

                        <div class="form-group col-sm-3 col-md-4">
                            <label for="second_last_name">Segundo apellido</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="second_last_name" name="second_last_name" placeholder="Segundo apellido" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-2 col-md-2">
                            <label for="rfc">RFC</label>
                            <input type="text" maxlength="50" pattern="^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})\d{2}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)(\w{2})([A|a|0-9]{1}))$|^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})([02468][048]|[13579][26])0229)(\w{2})([A|a|0-9]{1})$" class="form-control" id="rfc" name="rfc" placeholder="RFC" required>
                        </div>

                        <div class="form-group col-sm-2 col-md-2">
                            <label for="zipcode">Código Postal</label>
                            <input type="number" maxlength="50" pattern="[0-9]+" class="form-control" id="zipcode" name="zipcode" placeholder="Código Postal" required>
                        </div>

                        <div class="form-group col-sm-2 col-md-4">
                            <label for="street">Calle</label>
                            <input type="text" maxlength="50" class="form-control" id="street" name="street" placeholder="Calle" required>
                        </div>

                        <div class="form-group col-sm-2 col-md-2">
                            <label for="ext_number">No. Exterior</label>
                            <input type="number" maxlength="50" class="form-control" id="ext_number" pattern="[0-9]+"name="ext_number" placeholder="No. Exterior" required>
                        </div>

                        <div class="form-group col-sm-2 col-md-2">
                            <label for="int_number">No. Interior</label>
                            <input type="number" maxlength="50" class="form-control" id="int_number" pattern="[0-9]+" name="int_number" placeholder="No. Interior">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-3 col-md-3">
                            <label for="neighborhood">Colonia</label>
                            <input type="text" maxlength="50" class="form-control" id="neighborhood" name="neighborhood" placeholder="Colonia" required>
                        </div>

                        <div class="form-group col-sm-3 col-md-3">
                            <label for="state">Estado</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="state" name="state" placeholder="Estado" required>
                        </div>

                        <div class="form-group col-sm-3 col-md-3">
                            <label for="country">País</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="country" name="country" placeholder="País" required>
                        </div>

                        <div class="form-group col-sm-3 col-md-3">
                            <label for="city">Ciudad</label>
                            <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" id="city" name="city" placeholder="Ciudad" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-4 col-md-4">
                            <button type="submit" class="btn btn-primary full-width btn-fixed-control">Actualizar</button>
                            <input type="hidden" name="_method" value="PUT" readonly />
                            <input type="hidden" name="id" value="" />
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>



@*@model IEnumerable<WSApiTrackingOneYarda.Models.Provider>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.address.street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contact.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rfc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clabe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.certification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deleted)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.address.street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rfc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clabe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.certification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@
