:root {
	--primary: #feb938;
    --secondary: #fce9c8;

    --white: #ffffff;
    --light-grey: #f7f7f7;
    --grey: #ececec;
    --dark-grey: #c4c4c4;
    --black: #636363;
    
    --red: #ed2228;
    --pink: #fd5a5b;
    --blue: #138ba6;
    --teal: #5658bc;
    --dark-blue: #0651de;
    --green: #8BC34A;
    --dark-green: #26af61;
    --orange: #ee5823;
    --purple: #843471;
    --light-purple: #9880fc;
    --yellow: #ffc312;
    --turquoise: #40baa3;
    
    --gradient: linear-gradient(-90deg, #feb938, #fce9c8);
}

body, html, .container {
	height: 100%;
    max-width: 100%;
    color: var(--black);
}

main {
    /*padding-bottom: 25px;*/
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none !important;
    color: var(--primary);
}

hr {
    border-top: 1px solid var(--grey);
}

i.left {
    margin-right: 10px;
}

i.right {
    margin-left: 10px;
}

select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    cursor: pointer;
}

/*table {
    width: 100%;
}*/

table th,
table td {
    border: 1px solid var(--grey);
    border-top: 0;
    padding: 5px;
}

table th {
    padding: 10px 5px;
    background: var(--light-grey);
}

table tr > th:first-child,
table tr > td:first-child {
    border-left: 0;
}

table tr > th:last-child,
table tr > td:last-child {
    border-right: 0;
}

/*table.dataTable {
    border-collapse: collapse !important;
}*/
div.dts div.dataTables_scrollBody {
    background: #f7f7f7;
    /*background: repeating-linear-gradient(45deg, #edeeff, #edeeff 10px, #fff 10px, #fff 20px);*/
}

.dropdown > button {
    width: 100%;
    padding: 6px 16px;
    text-align: left;
    background: var(--light-grey);
    box-shadow: none;
    border: 1px solid #cccccc;
}

.dropdown .caret {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0px;
    right: 0;
    border: 0;
    padding: 8px;
    border-left: 1px solid var(--dark-grey);
    text-align: center;
}

.dropdown .caret:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
}

.dropdown .dropdown-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 0;
}

.dropdown-menu > li > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    padding: 8px 20px;
    border-bottom: 1px solid var(--dark-grey);
    color: var(--black) !important;
}

.dropdown-menu > li > a > span.glyphicon {
    float: right;
}

label {
    font-weight: normal;
}

.select-wraper {
    position: relative;
}

.select-wraper:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f078';
    color: #333;
    position: absolute;
    right: 15px;
    top: 10px;
    pointer-events: none;
}

.main-title {
    background: var(--primary);
    text-transform: uppercase;
    margin: 0 0 15px 0;
    margin-right: -15px;
    margin-left: -15px;
    padding: 30px 15px;
    font-size: 30px;
    color: #fff;
}

.main-title > a.btn {
    float: right;
}

.table-responsive {
    border: 0;
}

.table-responsive::-webkit-scrollbar {
  height: 4px ;
}

.wrapper {
    height: 100%;
    overflow-y: auto;
}

.wrapper > .sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    float: left;
    background: var(--light-grey);
    overflow: hidden;
    transition: width .2s linear;
    z-index: 98;
    overflow-y: auto;
    /*padding-bottom: 40px;*/
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px -5px 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -5px 5px;
}

.wrapper > .sidebar .navbar-nav,
.wrapper > .sidebar .navbar-nav > li {
    float: none;
    width: 250px;
}

.wrapper > .sidebar .navbar-nav li > a {
    width: 250px;
    padding: 15px;
    display: block;
    position: relative;
    color: var(--black);
    background: var(--grey);
    transition: all .3s ease-in-out;
}

.wrapper > .sidebar .navbar-nav > li > a:not(.menu-toggle) {
    overflow: hidden;
}

.wrapper > .sidebar .navbar-nav li > a:not(.menu-toggle):hover,
.wrapper > .sidebar .navbar-nav li:not(.has-submenu) > a:not(.dropdown-toggle):hover,
.wrapper > .sidebar .navbar-nav li:not(.has-submenu) > a.menu-item-active:not(.menu-toggle) {
    color: #000;
    background: var(--grey);
}

.wrapper > .sidebar .navbar-nav li > a:not(.menu-toggle):hover:before,
.wrapper > .sidebar .navbar-nav li > a:not(.dropdown-toggle):hover:before,
.wrapper > .sidebar .navbar-nav li > a.menu-item-active:not(.menu-toggle):before {
    content: '';
    width: 3px;
    height: 100%;
    background: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
}

.has-submenu > a,
.has-submenu > a:hover,
.has-submenu > a:focus {
    background: var(--light-grey) !important;
}

.has-submenu > .menu-item-active,
.has-submenu > .menu-item-active:hover,
.has-submenu > .menu-item-active:focus {
    background: #e0a330 !important;
    color: #000 !important;
}

.has-submenu > a:before {
    display: none;
}

.wrapper > .sidebar .navbar-nav > li > a > i {
    margin-right: 15px;
    font-size: 25px;
    vertical-align: sub;
}

.wrapper > .sidebar .navbar-nav > li > a > span {
    width: 175px;
}

.wrapper > .sidebar .navbar-nav > li.dropdown > a:after  {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f078';
    position: absolute;
    right: 20px;
    top: 20px;
}

.wrapper > .sidebar .navbar-nav > li.dropdown > .dropdown-menu {
    position: initial;
    width: 100%;
    border-radius: 0;
    background: #eeeeee;
    box-shadow: none;
    transition: all .3s linear;
    float: none;
}

.wrapper > .sidebar .navbar-nav > li.dropdown > .dropdown-menu > li > a {
    background: var(--grey);
}

.wrapper > .sidebar .navbar-nav .title {
    padding: 0 15px;
}

.wrapper > .sidebar .navbar-nav .title h3 {
    overflow: hidden;
    text-transform: uppercase;
    transition: all .2s linear;
}

.wrapper > .sidebar .navbar-nav .title a.menu-toggle {
    position: absolute;
    top: -12px;
    right: 0;
    background: var(--light-grey);
    width: auto !important;
}

.wrapper > .sidebar .navbar-nav .title a.menu-toggle i {
    margin: 0;
    border-left: 2px solid var(--black);
    padding-left: 5px;
}

.wrapper.menu-closed > .sidebar {
    /*width: 55px;*/
    /*width: 250px;*/
    width: 0;
}

.wrapper.menu-closed > .sidebar li > strong {
    /*width: 55px;*/
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper > main {
    width: calc(100% - 250px);
    float: right;
    transition: width .2s linear;
}

.wrapper.menu-closed > main {
    /*width: calc(100% - 55px);*/
    /*width: calc(100% - 250px);*/
    width: 100%;
    float: right;
}

ul.submenu {
    list-style: none;
    padding: 0;
    transition: max-height .4s linear;
    max-height: 0px;
}

ul.submenu.active {
    max-height: 500px;
}

ul.submenu > li > a {
    background: var(--light-grey) !important;
}

ul.submenu > li > a:hover {
    background: var(--grey) !important;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    background: var(--light-grey);
}

:focus {
    outline: none !important;
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand > img {
    max-height: 100%;
}
.sidebar .logo {
    display: inline-block;
}

.logo-sidebar {
    display: block;
    margin: 9px auto;
    height: 60px;
}

.logo-login {
    width: 110px;
    display: block;
    margin: auto;
}

.navbar-default {
    margin: 0;
    border-radius: 0;
    transition: all .2s ease-in-out;
    background: var(--white);
    border-color: var(--white);
    -webkit-box-shadow: rgba(0, 0, 0, 0.176) 0px 1px 10px;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 1px 10px;
}

.navbar .profile-image,
.navbar .profile-image:hover,
.navbar .profile-image:focus {
    width: 40px;
    height: 40px;
    background: var(--light-grey) !important;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--light-grey) !important;
    margin: 5px 0 5px 10px;
    padding: 0;
}

.navbar .profile-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.navbar .navbar-nav li > span {
    padding: 15px 0;
}

.navbar-nav > li > .dropdown-menu {
    padding: 0;
    border: 0;
    border-radius: 11px;
    top: 105%;
    box-shadow: 0 0px 12px rgba(0,0,0,.175);
}

.navbar-default .navbar-nav > li > .dropdown-menu:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    right: 10px;
    top: -8px;
}

.navbar-nav > li > .dropdown-menu > li > a {
    padding: 7px 20px; 
}

.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
    color: var(--primary);
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: var(--white);
}

.navbar-toggle {
    display: block !important;
}

.navbar-default .navbar-toggle .icon-bar.closing {
    position: absolute;
    top: 52%;
    margin: 0;
    transition: all .2s ease-in-out;
    opacity: 0;
}

header h2 {
    display: inline-block;
    margin: 24px 0;
}

header.affix .navbar-default .navbar-toggle {
    border-color: var(--primary);
    background: var(--primary);
}

header.affix .navbar-default .navbar-toggle .icon-bar {
    background-color: var(--white);
}

.panel {
    width: 100%;
    position: relative;
    background: var(--white);
    border-radius: 0;
    border: 0;
    margin: 15px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.176) 0px 1px 10px;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 1px 10px;
}

.panel .panel-title {
    font-size: 14px;
    padding: 15px 25px;
    background: var(--light-grey);
    border-bottom: 1px solid var(--grey);
}

.panel .panel-subtitle {
    padding: 15px 25px 0;
    border-bottom: 1px solid var(--grey);
}

.panel .panel-content {
    padding: 15px 25px;
}

.panel .panel-title > h4,
.panel .panel-title > h5 {
    margin: 0;
    display: inline-block;
}

.panel .panel-title > h5 {
    font-weight: bold;
}

.panel .panel-title > h4 > a {
    float: left;
}

.label-turquoise {
    background-color: var(--turquoise);
}

.bg-light-grey {
    background: var(--light-grey);
}

.bg-grey {
    background: var(--grey);
}

.bg-primary,
.bg-primary:hover,
.bg-primary:focus {
    background: var(--primary) !important;
}

.text-center th {
    text-align: center !important;
}

.text-black {
    color: #000 !important;
}

.text-warning {
    color: var(--yellow);
}

.text-primary {
    color: var(--primary);
}

.text-red {
    color: var(--red);
}

.text-blue {
    color: var(--blue);
}

.text-green {
    color: var(--green);
}

.text-yellow {
    color: var(--yellow);
}

.text-turquoise {
    color: var(--turquoise);
}

.text-purple {
    color: var(--purple);
}

.text-light-purple {
    color: var(--light-purple);
}

.form-control {
    border-radius: 0;
}

.input-group.with-button {
    display: block;
}

.input-group.with-button > .form-control {
    display: inline-block;
    width: calc(100% - 50px);
}

.input-group-addon,
.input-group-addon:hover,
.input-group-addon:focus,
.input-group-addon:active {
    padding: 6px 10px;
    color: var(--black);
    background-color: var(--light-grey);
    border-radius: 0;
}

.input-group.with-button > .input-group-addon {
    display: inline-block;
    width: 50px;
    padding: 8.5px 18px;
    margin-bottom: 0 !important;
}

.input-group > select + .input-group-addon,
.input-group > .select2 + .input-group-addon {
    padding: 6px 10px;
}

.input-append.date .add-on, 
.input-prepend.date .add-on, 
.input-group.date .input-group-addon {
    padding: 0px;
}

.input-append.date .add-on i, 
.input-prepend.date .add-on i, 
.input-group.date .input-group-addon span {
    padding: 4px 10px;
    display: inline;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
    border-radius: 0;
    padding: 7px 25px;
    border: 0;
    box-shadow: none;
    transition: all .2s ease-in-out;
}

.btn.btn-icon {
    padding: 0;
}

.btn.btn-icon > span {
    padding: 7px 25px;
    display: inline-block;
}

.btn.btn-icon > i,
.btn.btn-icon > span.glyphicon {
    top: 0;
    float: right;
    padding: 10px 15px;
    color: #000;
}

.btn.btn-primary,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    background: var(--primary);
    color: #000;
}

.btn.btn-primary:hover {
    background: var(--secondary);
    color: var(--black);
}

.btn.btn-secondary,
.btn.btn-secondary:focus,
.btn.btn-secondary:active {
    background: var(--secondary);
    color: var(--black);
}

.btn.btn-secondary:hover {
    background: var(--primary);
    color: var(--black);
}

.btn.btn-icon.btn-secondary > i, 
.btn.btn-icon.btn-secondary > span.glyphicon {
    background: var(--primary);
}

.btn-default,
.btn.btn-default:focus,
.btn.btn-default:active {
    color: var(--black);
    background-color: var(--grey);
    border-color: var(--grey); 
}

.btn-default:hover {
    background: var(--dark-grey);
}

.btn.btn-icon.btn-default > i, 
.btn.btn-icon.btn-default > span.glyphicon {
    background: var(--dark-grey);
}

.btn-pink,
.btn.btn-pink:focus,
.btn.btn-pink:active,
.btn-pink:hover {
    color: #000;
    background-color: var(--pink);
    border-color: var(--pink); 
}

.btn.btn-turquoise,
.btn.btn-turquoise:focus,
.btn.btn-turquoise:active,
.btn.btn-turquoise:hover {
    color: #fff;
    background-color: var(--turquoise);
    border-color: var(--turquoise); 
}

.btn.btn-icon.btn-pink > span:not(.glyphicon) {
    background: #fbbfc0;
    transition: all .2s ease-in-out;
}

.btn.btn-icon.btn-pink:hover > span:not(.glyphicon) {
    background: var(--pink);
}

.btn.btn-icon.btn-pink > i, 
.btn.btn-icon.btn-pink > span.glyphicon {
    background: var(--pink);
}

.full-width {
    width: 100%;
}

.p-10 {
    padding: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pt-25 {
    padding-top: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-15 {
    margin-top: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-25 {
    margin-bottom: 25px;
}

.datetimepicker table tr td.active:active, 
.datetimepicker table tr td.active:hover:active, 
.datetimepicker table tr td.active.disabled:active, 
.datetimepicker table tr td.active.disabled:hover:active, 
.datetimepicker table tr td.active.active, 
.datetimepicker table tr td.active:hover.active, 
.datetimepicker table tr td.active.disabled.active, 
.datetimepicker table tr td.active.disabled:hover.active,
.datetimepicker table tr td span.active:active, 
.datetimepicker table tr td span.active:hover:active, 
.datetimepicker table tr td span.active.disabled:active, 
.datetimepicker table tr td span.active.disabled:hover:active, 
.datetimepicker table tr td span.active.active, 
.datetimepicker table tr td span.active:hover.active, 
.datetimepicker table tr td span.active.disabled.active, 
.datetimepicker table tr td span.active.disabled:hover.active {
    background-color: #039;
    background: var(--primary);
    color: #000;
    border-radius: 0;
}

/*table.dataTable>tbody>tr.child ul.dtr-details {
    width: 100%;
}*/

div.DTS table.clickable tbody tr {
    cursor: pointer;
}

/*.modal-open .modal {
    padding-right: 17px;
}*/

.modal-open {
    overflow: hidden !important;
}

.modal-content {
    border-radius: 0;
    background-color: var(--light-grey);
}

.modal-lg .modal-header .close {
    font-size: 30px;
}

.modal-header > .action-buttons > .btn:not(:last-child) {
    margin-right: 10px;
}

.modal-header > .action-buttons {
    margin: 15px 0;
}

.modal-header > .action-buttons > .file-input {
    max-width: 250px;
    float: right;
}

.select2-container,
.select2-container > span {
    display: block;
}

.select2-container--default .select2-selection--single {
    height: 34px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*.select2-container--default .select2-selection--single:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}*/

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

.select2-selection__arrow {
    width: 34px !important;
    background: var(--light-grey);
    border-left: 1px solid var(--dark-grey);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    height: 9px;
    width: 9px;
    border: 3px solid var(--black);
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    top: 40%;
    left: 50%;
    position: inherit;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    height: 9px;
    width: 9px;
    border: 3px solid var(--black);
    border-top: 0;
    border-right: 0;
    transform: rotate(135deg);
    top: 40%;
    left: 50%;
    position: inherit;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--primary);
    color: #000;
}

.select2-container--open .select2-dropdown--below {
    border-radius: 0;
    border-color: var(--dark-grey);
}

.file-input .input-group.file-caption-main .btn,
.file-input .input-group.file-caption-main .btn:hover,
.file-input .input-group.file-caption-main .btn:focus,
.file-input .input-group.file-caption-main .btn:active {
    padding: 7px 13px;
    cursor: pointer;
    background: var(--primary);
    color: #000;
    vertical-align: top;
}

.file-input .input-group.file-caption-main .btn > span {
    display: none;
}

.file-caption {
    border: 0;
    box-shadow: none;
    color: var(--black);
    text-align: center;
    background: var(--secondary);
    box-shadow: none !important;
}

.file-caption .file-caption-name {
    text-align: center;
}

.btn-file input[type=file] {
    top: -22px;
    height: 56px;
}

.file-preview {
    border-radius: 0;
    padding: 0;
    margin-bottom: 0px;
}

.file-drop-zone {
    border-radius: 0px;
    margin: 10px 15px 10px 15px;
    padding: 0px;
}

.krajee-default.file-preview-frame {
    padding: 0;
}

.krajee-default .file-footer-caption {
    margin-bottom: 0px;
}

.krajee-default.file-preview-frame .file-thumbnail-footer {
    height: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.krajee-default .file-footer-caption {
    color: #fff;
}

.file-drop-zone-title {
    padding: 80px 10px;
}

.krajee-default.file-preview-frame .kv-file-content {
    width: 213px;
    height: 205px;
}

.file-preview-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
}

.krajee-default .file-drag-handle, .krajee-default .file-upload-indicator {
    margin-left: 5px;
}

.krajee-default .file-footer-buttons > button {
    background: transparent;
    color: white;
    padding: 10px;
}

.file-preview .fileinput-remove {
    display: none;
}

.fileinput-grey .file-caption {
    background: var(--grey);
}

.fileinput-grey .file-input .input-group.file-caption-main .btn, 
.fileinput-grey .file-input .input-group.file-caption-main .btn:hover, 
.fileinput-grey .file-input .input-group.file-caption-main .btn:focus, 
.fileinput-grey .file-input .input-group.file-caption-main .btn:active {
    background: var(--dark-grey);
}

.radio-inline-group > label {
    margin: 10px 5px !important;
}

.checkbox-inline, 
.radio-inline {
    padding-left: 0;
}

.radio input,
.radio-inline input,
.checkbox input {
    position: absolute;
    opacity: 0;
    display: none;
}

.radio input + label, 
.radio-inline input + label,
.checkbox input + span {
    margin: 0;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
}

.checkbox input + span {
    padding-left: 35px;
    display: inline-block;
    vertical-align: text-bottom;
}

.radio input + label:before, 
.radio-inline input + label:before {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid var(--grey);
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 50%;
}

.checkbox input + span:before {
    content: "";
    width: 25px;
    height: 20px;
    border: 2px solid var(--grey);
    position: absolute;
    left: 5px;
    top: 3px;
}

.radio input:checked + label:after, 
.radio-inline input:checked + label:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background: var(--primary);
    left: 8px;
    top: 8px;
    border-radius: 50%;
}

.checkbox input:checked + span:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    position: absolute;
    color: var(--turquoise);
    left: 10px;
    top: 5px;
    border-radius: 50%;
    font-size: 15px;
}

#fancybox-close {
    right: -55px;
}

canvas#sign {
    max-width: 100%;
    background: #fff;
    border: 1px solid var(--grey);
    margin: 15px auto;
    display: block;
}

.section-title {
    text-align: center;
    color: var(--white);
    background: var(--black);
    font-size: smaller;
    margin: 5px 0;
    /*margin: 0 -2px 0 -10px;
    box-sizing: initial;*/
}

.alert.alert-simple {
    background: var(--light-grey);
    border-radius: 0;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: small;
    /*margin: 10px -10px 0 -10px;
    box-sizing: initial;*/
}

.alert.alert-simple > .right {
    font-weight: bold;
    float: right;
}

.alert.alert-simple.alert-turquoise {
    background: var(--turquoise);
    color: var(--white);
}

.alert.alert-simple.alert-dark-green {
    background: var(--dark-green);
    color: var(--white);
}

.alert.alert-simple.alert-pink {
    background: var(--pink);
    color: var(--white);
}

.alert.alert-simple.alert-red {
    background: var(--red);
    color: var(--white);
}

.alert.alert-simple.alert-orange {
    background: var(--orange);
    color: var(--white);
}

.alert.alert-bordered-green {
    border: 1px solid var(--grey);
    border-bottom: 3px solid var(--green);
    background: var(--white);
}

.alert.alert-bordered-green > .right {
    color: var(--green);
}

.alert.alert-bordered-yellow {
    border: 1px solid var(--grey);
    border-bottom: 3px solid var(--yellow);
    background: var(--white);
}

.alert.alert-bordered-yellow > .right {
    color: var(--yellow);
}

.alert.alert-bordered-red {
    border: 1px solid var(--grey);
    border-bottom: 3px solid var(--red);
    background: var(--white);
}

.alert.alert-bordered-red > .right {
    color: var(--red);
}

.alert.alert-bordered-turquoise {
    border: 1px solid var(--grey);
    border-bottom: 3px solid var(--turquoise);
    background: var(--white);
}

.alert.alert-bordered-turquoise > .right {
    color: var(--turquoise);
}

canvas#shipments {
    margin: 15px 0;
    width: 100% !important;
}

canvas#boxes,
canvas#ramps,
canvas#lift {
    width: 100% !important;
    margin: 15px 0;
}

table.boxes-table {
    margin: 15px 0;
    text-align: center;
    border: 1px solid var(--grey);
}

table.boxes-table tbody tr > td:nth-child(2),
table.boxes-table tbody tr > td:nth-child(4) {
    background: var(--light-grey);
}

table.boxes-table i.fa,
table.boxes-table span.fa {
    font-size: 25px
}

table.statuses-box-table {
    border: 1px solid var(--grey);
}

table.statuses-box-table thead {
    text-align: center;
}

table.statuses-box-table td,
table.statuses-box-table th {
    border: 0;
}

table.statuses-box-table i.fa,
table.statuses-box-table span.fa {
    font-size: 20px
}

.checkbox-list {
    width: 100%;
    margin: 10px 0;
}

.checkbox-list > li {
    padding: 5px 0;
}

.checkbox-list > li > .text {
    display: inline-block;
    width: 90%;
    width: calc(100% - 40px);
    border-bottom: 1px solid var(--grey);
}

.checkbox-list > li > .checkbox {
    display: inline-block;
    margin: 0;
}

.checkbox-list > .title > .left {
    float: left;
    margin-right: 10px;
}

.checkbox-list > .title > .right {
    float: right;
    margin-right: 7px;
}

.v-align {
    display: table;
    width: 100%;
}

.v-align > div {
    display: table-cell;
    vertical-align: middle;
}

/*.dataTables_scrollHeadInner {
    width: 100% !important;
}*/

.datateble td.child {
    background: white;
}

/*table.dataTable > tbody > tr.child:hover {
    background: transparent !important;
}*/

table.dataTable > tbody > tr.child:hover {
    background: #f9f9f9 !important;
}

div.dataTables_scrollHead table.dataTable {
    /*min-width: calc(100% - 4px) !important;
    max-width: 100% !important;*/
    /*width: calc(100% - 4px) !important;*/
}
div.dataTables_scrollBody table.dataTable {
    /*min-width: calc(100% - 4px) !important;
    max-width: 100% !important;*/
    /*width: calc(100% - 4px) !important;*/
}

/*div.dts div.dataTables_scrollBody {
    padding-right: 4px;
}*/

@media (max-width: 767px) {
    .sidebar .navbar-nav {
        margin: 7.5px 0;
    }

    .sidebar .menu-toggle {
        display: none;
    }

    .nav.navbar-nav.navbar-right {
        margin: 0;
        float: right;
    }

    .nav.navbar-nav.navbar-right > li:first-of-type {
        display: none;
    }

    .navbar .profile-image {
        width: 35px;
        height: 35px;
        margin: 10px 0 7px 20px;
    }

    header .navbar-nav .open .dropdown-menu {
        position: absolute;
        background: var(--white);
        left: -200%;
        top: 50px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    
    .navbar-default .navbar-collapse, 
    .navbar-default .navbar-form {
        border-color: var(--white);
        border-bottom: 1px solid var(--primary);
    }

    .wrapper {
        position: relative;
        overflow-x:hidden; 
    }

    .panel .panel-title > a {
        position: initial;
        display: block;
        text-align: right;
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    button {
        margin-bottom: 10px !important;
    }

    .main-title > a.btn {
        float: none;
    }

    .card .radio input[type="radio"]:checked + span + div.radio-content {
        padding: 0;
    }

    header h2 {
        display: inline-block;
        margin: 15px 15px;
        font-size: 20px;
        max-width: calc(100% - 90px);
    }

    form .form-group:last-child {
        margin-bottom: 0 !important;
    }

    /*div.dataTables_wrapper div.dataTables_info {
        text-align: left;
        white-space: normal;
    }*/

    .modal-header .action-buttons > * {
        min-width: 100%;
    }

    .modal-header > .action-buttons > .btn:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    /*.form-group > .btn {
        margin: 0 !important;
    }*/

    .panel .panel-title > .action-right {
        margin-top: 5px;
        width: 100%;
        text-align: right;
    }
}

@media (min-width: 768px) {
    /*::-webkit-scrollbar {
      width: 10px;
    }*/

    .navbar-right {
        margin-right: 0;
    }

    .wrapper > .sidebar::-webkit-scrollbar,
    .dataTables_scrollBody::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .wrapper > .sidebar::-webkit-scrollbar:vertical {
        width: 2px;
    }

    .dataTables_scrollBody::-webkit-scrollbar:vertical {
      width: 4px;
    }

    .wrapper > .sidebar::-webkit-scrollbar-button:increment ,
    .wrapper > .sidebar::-webkit-scrollbar-button {
        display: none;
    } 

    /*.wrapper > .sidebar::-webkit-scrollbar:horizontal {
        height: 2px;
    }*/

    .wrapper > .sidebar::-webkit-scrollbar-thumb,
    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        background: #636363;
    }

    .wrapper > .sidebar::-webkit-scrollbar-track,
    .dataTables_scrollBody::-webkit-scrollbar-track {
        background: #f7f7f7;
    }

    header .navbar-header {
        width: 100%;
    }

    .wrapper.menu-closed > .sidebar .navbar-nav .title a.menu-toggle {
        transform: rotate(180deg);
        transition: all .2s ease-in-out;
    }

    .navbar-toggle {
        margin: 21px 0;
    }

    .form-group > .btn.btn-fixed-control {
        margin-top: 25px;
    }

    .panel .panel-title > .action-right {
        position: absolute;
        right: 25px;
        top: 8px;
    }
}

@media (max-width: 991px) {
    .wrapper > .sidebar {
        width: 0px;
    }

    .navbar-default .navbar-toggle.active .icon-bar:not(.closing) {
        opacity: 0;
    }

    .navbar-default .navbar-toggle.active .icon-bar.closing {
        transform: rotate(45deg);
        opacity: 1;
    }

    .navbar-default .navbar-toggle.active .icon-bar.closing:nth-child(2) {
        transform: rotate(-45deg);
    }

    .wrapper.menu-closed > .sidebar {
        width: 250px;
        position: fixed;
    }

    .wrapper.menu-closed > .sidebar li > strong {
        width: 250px;
    }

    .wrapper > main {
        width: 100%;
        position: absolute;
        transition: all .2s linear;
    }

    .wrapper.menu-closed > main {
        width: 100%;
        /*transform: translateX(250px);*/
    }
}

@media (min-width: 992px) {
    .modal-header > .action-buttons {
        position: absolute;
        right: 50px;
        top: 0;
    }

    .navbar-default .navbar-toggle.active .icon-bar:not(.closing) {
        transition: all .2s ease-in-out;
    }

    .navbar-default .navbar-toggle.active .icon-bar:not(.closing):nth-of-type(odd) {
        width: 15px;
    }
}

@media (min-width: 1200px) {
    canvas#shipments.h270 {
        height: 270px !important;
    }

    canvas#boxes.h235,
    canvas#ramps.h235,
    canvas#lift.h235 {
        min-height: 235px !important;
    }
}

/* ReadOnly */
div.readonly:hover {
    background-color: #eee;
}

div.readonly:before {
    content: "?";
    color: deepPink;
}

input.readonly {
    background-color: #eee;
    border: 1px solid #cccccc;
}

textarea.readonly:hover {
    cursor: not-allowed;
}
/* Termina ReadOnly */

/* Header top provider */
.top-header {
    background: #ececec;
    z-index: 100;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    height: 74px;
}

/* Loader AJAX */
.loader-ajax {
    background: rgba(0,0,0,0.65);
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Loader AJAX */

input.readonly {
    pointer-events: none;
}

/** Swalater */
.swal2-popup {
    font-size: inherit !important;
}
