﻿@model WSApiTrackingOneYarda.Models.ShippingSchedule

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ShippingSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trailer_status.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trailer_status.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_marked_as_rejected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_marked_as_rejected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipping_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipping_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipping_status_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipping_status_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scheduled_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduled_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warehouse_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warehouse_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carrier_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrier_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.driver_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.driver_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trailer_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trailer_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.truck_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.truck_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.license_plate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.license_plate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.container)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.container)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.initial_yard_mule_driver_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.initial_yard_mule_driver_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.initial_parking_space)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.initial_parking_space)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ramp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ramp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.final_parking_space)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.final_parking_space)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipping_priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipping_priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.final_yard_mule_driver_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.final_yard_mule_driver_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ramp_and_yard_mule_driver_assigned_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ramp_and_yard_mule_driver_assigned_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moved_from_parking_space_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moved_from_parking_space_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_ramp_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_ramp_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moved_from_ramp_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moved_from_ramp_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_parking_space_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_parking_space_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creator_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creator_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.editor_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editor_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
