﻿@{
    ViewBag.Title = "Embarques";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        @*window.clients = [
                @{
                    foreach(var client in ViewBag.clients)
                    {
                        //if(client.id == 33846 || client.id == 33847 || client.id == 33848 || client.id == 33849 || client.id == 33850)
                        //{
                        string lineSeparator = ((char) 0x2028).ToString();
                        string paragraphSeparator = ((char)0x2029).ToString();
                        string name = Convert.ToString(client.name).Replace("\r", String.Empty).Replace("\t", String.Empty).Replace("\n", string.Empty).Replace("\r\n", string.Empty).Replace("\t\n", string.Empty).Replace(lineSeparator, string.Empty).Replace(paragraphSeparator, string.Empty);
                        string nameFormat = "(" + client.id + ") " + name.Trim();

                        @Html.Raw("{id:"+client.id+", text:'"+nameFormat+"'},");
                        //}
                    }
                }
            ];*@

        var table = $('#boarding_squedule').DataTable({
                responsive: true,
                ordering: false,
                data: [],
                // ajax: 'ajax/shipping-schedules',
                // ajax: 'assets/js/api/boarding.json',
                columnDefs: [
                    {
                        targets: 'actions',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            @{
                                var html = "";

                                if (new List<int?> {
                                        WSApiTrackingOneYarda.Models.UserRoles.CARRIER,
                                }.Contains(ViewBag.currentUser.auth))
                                {
                                    html = "return ''";
                                }

                              @Html.Raw(html)
                            }

                            return '<a data-id="' + row.id + '" class="edit-button">' +
                                '<span class="glyphicon glyphicon-edit text-black"></span>' +
                                '</a>';

                            // return '<a href="#" class="edit-button" title="Editar"><span class="glyphicon glyphicon-edit text-black"></span></a>';
                        },
                    },
                    {
                        targets: 'is_marked_as_rejected',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.is_marked_as_rejected;
                        },
                    },
                    {
                        targets: 'shipping_number',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.shipping_number;
                        },
                    },
                    {
                        targets: 'shipping_status_id',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            if (_.isNull(row.shipping_status)) {
                                return '';
                            }

                            return row.shipping_status.id + ' - ' + row.shipping_status.label;
                        },
                    },
                    {
                        targets: 'scheduled_date',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            //return moment(row.formatted_scheduled_date).format('DD/MM/YYYY HH:mm:ss');
                            return row.formatted_scheduled_date;
                        },
                    },
                    {
                        targets: 'warehouse_id',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.warehouse_id + ' - ' + row.warehouse.name;
                        },
                    },
                    {
                        targets: 'carrier_id',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.carrier_id + ' - ' + row.carrier.name;
                        },
                    },
                    {
                        targets: 'driver_id',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.driver_id + ' - ' + row.driver.first_name +" "+ row.driver.last_name;
                        },
                    },
                    {
                        targets: 'initial_yard_mule_driver_id',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.initial_yard_mule_driver_id != null ? row.initial_yard_mule_driver_id + ' - ' + row.initial_yard_mule_driver.first_name : '';
                        },
                    },
                    {
                        targets: 'client_id',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.client_id + ' - ' + row.client.name;
                        },
                    },
                    {
                        targets: 'trailer_number',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.trailer_number;
                        },
                    },
                    {
                        targets: 'truck_number',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.truck_number;
                        },
                    },
                    {
                        targets: 'license_plate',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.license_plate;
                        },
                    },
                    {
                        targets: 'container',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.container;
                        },
                    },
                    {
                        targets: 'trailer_status',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.trailer_status.label;
                        },
                    },
                    {
                        targets: 'origin',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.origin;
                        },
                    },
                    {
                        targets: 'destination',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.destination;
                        },
                    },
                    {
                        targets: 'initial_parking_space',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.initial_parking_space;
                        },
                    },
                    {
                        targets: 'ramp',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.ramp;
                        },
                    },
                    {
                        targets: 'final_parking_space',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.final_parking_space;
                        },
                    },
                    {
                        targets: 'ramp_and_yard_mule_driver_assigned_at',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.ramp_and_yard_mule_driver_assigned_at != null ? moment(row.ramp_and_yard_mule_driver_assigned_at).format("DD-MM-YYYY hh:mm:ss A") : "-";
                        },
                    },
                    {
                        targets: 'moved_from_parking_space_at',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.moved_from_parking_space_at != null ? moment(row.moved_from_parking_space_at).format("DD-MM-YYYY hh:mm:ss A") : "-";
                        },
                    },
                    {
                        targets: 'in_ramp_at',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.in_ramp_at != null ? moment(row.in_ramp_at).format("DD-MM-YYYY hh:mm:ss A") : "-";
                        },
                    },
                    {
                        targets: 'moved_from_ramp_at',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.moved_from_ramp_at != null ? moment(row.moved_from_ramp_at).format("DD-MM-YYYY hh:mm:ss A") : "-";
                        },
                    },
                    {
                        targets: 'in_parking_space_at',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.in_parking_space_at != null ? moment(row.in_parking_space_at).format("DD-MM-YYYY hh:mm:ss A") : "-";
                        },
                    },
                    {
                        targets: 'final_yard_mule_driver_id',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.final_yard_mule_driver_id != null ? row.final_yard_mule_driver_id + ' - ' + row.final_yard_mule_driver.first_name : '';
                        },
                    },
                ],
                columns: [
                    {
                        data: "",
                        className: "actions text-center",
                    },
                    {
                        data: "is_marked_as_rejected",
                        className: "is_marked_as_rejected",
                    },
                    {
                        data: "shipping_number",
                        className: "shipping_number",
                    },
                    {
                        data: "shipping_status_id",
                        className: "shipping_status_id",
                    },
                    {
                        data: "scheduled_date",
                        className: "scheduled_date",
                    },
                    {
                        data: "warehouse_id",
                        className: "warehouse_id",
                    },
                    {
                        data: "carrier_id",
                        className: "carrier_id",
                    },
                    {
                        data: "driver_id",
                        className: "driver_id",
                    },
                    {
                        data: "initial_yard_mule_driver_id",
                        className: "initial_yard_mule_driver_id",
                    },
                    {
                        data: "customer_id",
                        className: "customer_id",
                    },
                    {
                        data: "trailer_number",
                        className: "trailer_number",
                    },
                    {
                        data: "truck_number",
                        className: "truck_number",
                    },
                    {
                        data: "license_plate",
                        className: "license_plate",
                    },
                    {
                        data: "box",
                        className: "box",
                    },
                    {
                        data: "trailer_status",
                        className: "trailer_status",
                    },
                    {
                        data: "origin",
                        className: "origin",
                    },
                    {
                        data: "destination",
                        className: "destination",
                    },
                    {
                        data: "initial_parking_space",
                        className: "initial_parking_space",
                    },
                    {
                        data: "ramp",
                        className: "ramp",
                    },
                    {
                        data: "final_parking_space",
                        className: "final_parking_space",
                    },
                    {
                        data: "ramp_and_yard_mule_driver_assigned_at",
                        className: "ramp_and_yard_mule_driver_assigned_at",
                    },
                    {
                        data: "moved_from_case_at",
                        className: "moved_from_case_at",
                    },
                    {
                        data: "in_ramp_at",
                        className: "in_ramp_at",
                    },
                    {
                        data: "moved_from_ramp_at",
                        className: "moved_from_ramp_at",
                    },
                    {
                        data: "in_case_at",
                        className: "in_case_at",
                    },
                    {
                        data: "final_yard_mule_driver_id",
                        className: "final_yard_mule_driver_id",
                    },
                ],
                // ajax/shipping-schedules
                scrollY: 500,
                deferRender: true,
                scroller: {
                    loadingIndicator: true
                },
                dom: 'frtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'applied',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'A1',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'applied',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                ],
                language: {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar _MENU_ registros",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    },
                    aria: {
                        sortAscending: ": Activar para ordenar la columna de manera ascendente",
                        sortDescending: ": Activar para ordenar la columna de manera descendente"
                    },
                    buttons: {
                        copy: "Copiar",
                        colvis: "Visibilidad"
                    }
                }
            });

        var uploadLayoutComponent = new Vue({
            el: '#uploadLayoutComponent',
            data: {
                candidates: [],
                originalCandidates: [],
                loading: false,
                layoutErrors: {},
                layoutMap: {
                    'No. Embarque': 'shipping_number',
                    'Fecha Programada Arribo Bodega (DD/MM/AAAA)': 'scheduled_date',
                    'ID Almacén': 'warehouse_id',
                    'ID Transportista': 'carrier_id',
                    'No. Remolque': 'trailer_number',
                    'No. Tractor': 'truck_number',
                    'Placas': 'license_plate',
                    'ID Operador': 'driver_id',
                    //'ID Mulero': 'initial_yard_mule_driver_id',
                    'ID Estatus Remolque': 'trailer_status_id',
                    'ID Cliente': 'client_id',
                    'Origen': 'origin',
                    'Destino': 'destination',
                    'Caja': 'container',
                },
                rules: {
                    'shipping_number': 'required|max:50',
                    'scheduled_date': 'required|regex:/^\\d{1,2}\\/\\d{1,2}\\/\\d{4}$/',
                    'warehouse_id': 'required|integer',
                    'carrier_id': 'required|integer',
                    'trailer_number': 'required|max:50',
                    'truck_number': 'required|max:50',
                    'license_plate': 'required|max:50',
                    'driver_id': 'required|integer',
                    //'initial_yard_mule_driver_id': 'required|integer',
                    'trailer_status_id': 'required|integer',
                    'client_id': 'required|integer',
                    'origin': 'required|max:50',
                    'destination': 'required|max:50',
                    'container': 'required|max:50',
                },
                canUploadLayout: true,
            },
            watch: {
                layoutErrors: function (val) {
                    this.canUploadLayout = _.isEmpty(val);
                },
            },
            methods: {
                loadLayout(candidates) {
                    this.layoutErrors = {};
                    this.loading = true;
                    this.canUploadLayout = true;
                    if (!this.validateKeys(_.keys(_.first(candidates)))) {
                        Swal.fire({
                            title: 'Aviso',
                            text: 'El archivo no cuenta con el layout correcto o esta vacio.',
                            type: 'warning',
                        }).then(function () {
                            var modal = $(".modal:visible")
                            var form = modal.find("form");
                            form.trigger("reset");
                            $("#layout_upload_file").val('');
                            $("#layout_upload_file").trigger("change");
                        });

                        return;
                    }

                    $('#uploadLayoutModal').modal('show');

                    this.loadCandidates(candidates);

                    this.validateCandidates();

                    this.loading = false;
                },

                validateKeys: function (keys) {
                    return _.difference( _.keys(this.layoutMap), keys).length === 0;
                },

                validateCandidates: function () {
                    _.each(this.candidates, function (candidate, index) {
                        let validation = new Validator(candidate, this.rules);
                        if (validation.fails()) {
                            _.set(this.layoutErrors, index, validation.errors.errors);
                        }
                    }.bind(this));
                },

                loadCandidates: function (candidates) {
                    this.originalCandidates = candidates;

                    this.candidates = _.map(candidates, function (candidate) {
                        var mappedCandidate = {};

                        _.forIn(this.layoutMap, function (columnName, columnLabel) {
                            var value = candidate[columnLabel];
                            
                            if (columnName === 'scheduled_date') {
                                if (value != "" && /^\d{1,2}\/\d{1,2}\/\d{4}$/.test(value)) {
                                    value = moment(value, 'DD/MM/YYYY').format('DD/MM/YYYY');
                                }
                            }

                            mappedCandidate[columnName] = value;
                        });

                        return mappedCandidate;
                    }.bind(this));
                },

                uploadLayout: function () {
                    console.log('subido');
                    var btn_text_original = $("#btn-subir-layout").html();
                    $("#btn-subir-layout").html("Importanto Layout <i class='fas fa-spinner fa-pulse'></i>");
                    axios({
                        url: '/ajax/shipping-schedules/layout',
                        method: 'post',
                        data: this.candidates,
                        //data: JSON.stringify({
                        //    configuracion_columnas: _.filter(this.configuracionColumnas, function (configuracionColumna) {
                        //        return _.includes(idIndicadoresActualizados, configuracionColumna.indicador_id);
                        //    }),
                        //}),
                        headers: { 'Content-Type': 'application/json; charset=utf-8' },
                    })
                        .then(function (response) {
                            $("#btn-subir-layout").html(btn_text_original);
                            console.log(response);
                            if (response.data.error) {
                                Swal.fire({
                                    text: response.data.message,
                                    icon: 'error',
                                    buttons: false,
                                    //timer: 2000,
                                }).then(function () {
                                    $('#uploadLayoutModal').modal('hide');
                                });
                            } else {
                                Swal.fire({
                                    text: response.data.message,
                                    icon: 'success',
                                    buttons: false,
                                    timer: 5000,
                                }).then(function () {
                                    redrawTable(table);
                                    $('#uploadLayoutModal').modal('hide');
                                });
                            }

                            //window.App.configuracionColumnas = _.cloneDeep(this.configuracionColumnas);

                            //Swal.fire({
                            //    text: 'Configuracion actualizada correctamente.',
                            //    icon: 'success',
                            //    buttons: false,
                            //    timer: 2000,
                            //});
                        }.bind(this))
                        .catch(function (error) {
                            $("#btn-subir-layout").html(btn_text_original);
                            console.log(error.response);
                            var errors_data = JSON.parse(error.response.request.response);
                            var list_errors = [];
                            $.each(errors_data, function (index, error_data) {
                                $.each(error_data, function (index_, error_) {
                                    if (Array.isArray(error_)) {
                                        if (error_.length > 0) {
                                            $.each(error_, function (index_, error_error) {
                                                list_errors.push("Fila " + (index + 1) + ": " + error_error);
                                            });
                                        }
                                    } else {
                                        if (error_ != null) {
                                            list_errors.push("Fila "+(index+1)+": "+error_);
                                        }
                                    }
                                });
                            });
                            //console.log(list_errors);
                            //console.log(errors_data);
                            //console.log(error.response.data.message);
                            var message_return = "";
                            $.each(list_errors, function (index, message) {
                                message_return += message+"<br>";
                            });
                            Swal.fire({
                                title: "Proceso interrumpido",
                                html: 'Verifique los errores a continuación e intente de nuevo: <pre style="height:100px; text-align: left; overflow:auto;">'+message_return+'</pre>',
                                icon: 'info',
                                buttons: false,
                                //timer: 2000,
                            }).then(function () {
                                $('#uploadLayoutModal').modal('hide');
                            });
                        });
                }
            },
        });

        $(document).ready(function () {

            // Cargar clientes por fase
            $('select.client_id_select').select2({
                placeholder: "Obteniendo clientes...",
            });
            var placeholderCurrent = $('select.client_id_select').next("span.select2").find(".select2-selection__placeholder").html();
            $('select.client_id_select').next("span.select2").find(".select2-selection__placeholder").html(placeholderCurrent+' <i class="fas fa-spinner fa-pulse"></i>')
            //$('select.client_id_select').empty();
            //$('select.client_id_select').select2({
            //    data: window.clients,
            //    placeholder: "Selecciona una opción"
            //});

            //$('select.client_id_select').val(null).trigger("change");

            $.ajax({
                type: 'GET',
                url: urlBase + '/ajax/clients/activate',
                data: JSON.stringify(),
                async: true,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    var clients = [];
                    $.each(data, function (index, item) {
                        clients.push({
                            id: item.id,
                            text: "("+item.id+") "+item.name
                        });
                    });

                    $('select.client_id_select').select2("destroy");
                    $('select.client_id_select').select2({
                        data: clients,
                        placeholder: "Selecciona una opción"
                    });

                    $('select.client_id_select').val(null).trigger("change");
                },
                error: function (error) {
                    Swal.fire('Sistema', 'Vuelva a intentar, por favor.', 'error');
                },
            });

            $.ajax({
                type: 'GET',
                url: urlBase + '/ajax/shipping-schedules',
                data: JSON.stringify(),
                async: true,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (registros) {
                    if (_.isEmpty(registros)) {
                        Swal.fire({
                            title: 'Aviso',
                            text: 'No se encontraron resultados.',
                            type: 'warning',
                            confirmButtonColor: "#f58249",
                            confirmButtonText: "Aceptar",
                        });
                        return;
                    }

                    table.clear();
                    table.rows.add(registros);
                    table.draw();
                    //$(window).trigger('resize');
                },
                error: function (error) {
                    Swal.fire('Aviso', 'Vuelva a intentar, por favor.', 'error');
                }
            });

            $('#boarding_squedule_filter').hide();

            $('#exportExcel').click(function (event) {
                event.preventDefault();
                table.button('1').trigger();
            });

            $('#exportPdf').click(function (event) {
                event.preventDefault();
                table.button('0').trigger();
            });

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var boarding_number_input = $('#boarding_number').val();
                    var shipment_number_input = $('#shipment_number').val();
                    var boarding_status_input = $('#shipping_status_id').val().toLowerCase();
                    var carrier_id_input = $('#carrier_id').val();
                    var initial_date_input = moment($('#initial_date').val(), 'DD-MM-YYYY').unix();
                    var final_date_input = moment($('#final_date').val(), 'DD-MM-YYYY').unix();

                    var boarding_number = data[2] || null;
                    var shipment_number = data[10] || null;
                    var boarding_status = data[3].toLowerCase();
                    var date = moment(data[4], 'DD-MM-YYYY').unix();
                    var carrier_id = data[6];

                    if ((_.isEmpty(boarding_number_input) || boarding_number == boarding_number_input) &&
                        (_.isEmpty(shipment_number_input) || shipment_number == shipment_number_input) &&
                        (($('#SearchForm #client_id').length == 0 || _.isEmpty($('#SearchForm #client_id').val())) || $('#SearchForm #client_id').val() == data[9]) &&
                        (_.isEmpty(carrier_id_input.trim()) || carrier_id == carrier_id_input) &&
                        (_.isEmpty(boarding_status_input.trim()) || boarding_status == boarding_status_input) &&
                        ((isNaN(initial_date_input) && isNaN(final_date_input)) ||
                        (isNaN(initial_date_input) && date <= final_date_input) ||
                        (initial_date_input <= date && isNaN(final_date_input)) ||
                        (initial_date_input <= date && date <= final_date_input))
                    ) {
                        return true;
                    }

                    return false;
                }
            );

            $('#searchTableButton').click(function (event) {
                event.preventDefault();
                var initial_date_input = moment($('#initial_date').val(), 'DD-MM-YYYY').unix();
                var final_date_input = moment($('#final_date').val(), 'DD-MM-YYYY').unix();

                if (!_.isEmpty($('#final_date').val())) {
                    if (_.isEmpty($('#initial_date').val())) {
                        Swal.fire('Sistema', 'Debe seleccionar una fecha inicial.', 'warning');
                        return;
                    } else {
                        if (final_date_input < initial_date_input) {
                            Swal.fire('Sistema', 'La fecha final debe ser superior o igual a la fecha inicial.', 'warning');
                            return;
                        }
                    }
                }
                table.draw();
            });

            //$('#searchTableButton').click(function (event) {
            //    event.preventDefault();
            //    table.draw();

            //    //if (_.isEmpty($('#initial_date').val())) {
            //    //    alert('Debe seleccionar una fecha inicial.');
            //    //    return;
            //    //}

            //    //if (_.isEmpty($('#final_date').val())) {
            //    //    alert('Debe seleccionar una fecha final.');
            //    //    return;
            //    //}

            //    if (!_.isEmpty($('#final_date').val())) {
            //        if (_.isEmpty($('#initial_date').val())) {
            //            alert('Debe seleccionar una fecha inicial.');
            //            return;
            //        } else {
            //            var initial_date = new Date($('#initial_date').val());
            //            var final_date = new Date($('#final_date').val());
            //            if (final_date < initial_date) {
            //                alert('La fecha final debe ser anterior o igual a la fecha inicial.');
            //                return;
            //            }
            //        }
            //    }

            //    var form = $('#searchShippingScheduleForm')[0];
            //    //console.log(form.serialize());
            //    var dataForm = new FormData(form);

            //    $.ajax({
            //        url: urlBase + '/ajax/shipping-schedules/filter',
            //        method: "POST",
            //        async: true,
            //        processData: false,
            //        contentType: false,
            //        data: dataForm,
            //        success: function (registros) {
            //            if (_.isEmpty(registros)) {
            //                Swal.fire({
            //                    title: 'Aviso',
            //                    text: 'No se encontraron resultados.',
            //                    type: 'warning',
            //                    confirmButtonColor: "#f58249",
            //                    confirmButtonText: "Aceptar",
            //                });
            //                //return;
            //            }

            //            table.clear();
            //            table.rows.add(registros);
            //            table.draw();
            //            $(window).trigger('resize');
            //        },
            //        error: function (error) {
            //            Swal.fire('Aviso', 'Vuelva a intentar, por favor.', 'error');
            //        }
            //    });
            //});

            $("#newCarrierModal").on("click", "a.create-carrier",function (e) {
                e.preventDefault();
                var modal = $(this).parents(".modal");
                var nameCarrier = modal.find("input[name=carrier]").val().trim();

                var data = new FormData();
                data.append("name", nameCarrier);

                $.ajax({
                    url: urlBase + '/ajax/carriers',
                    data: data,
                    dataType: 'json',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        Swal.fire({
                            title: 'Aviso',
                            text: 'Guardado correctamente.',
                            icon: 'success',
                        }).then(function () {
                            $("select[name=carrier_id]").append('<option value="' + response.id + '">(' + response.id + ') ' + response.name + '</option>');
                            $(".modal#newBoardingModal select[name=carrier_id], .modal#editBoardingModal select[name=carrier_id]").val(response.id).trigger("change");
                            modal.find("input[name=carrier]").val("");
                            modal.modal('hide');
                        });
                    },
                    error: function (error) {
                        console.log('fail');
                    }
                });
            });

            $("#newOperatorModal").on("click", "a.create-operator", function (e) {
                e.preventDefault();
                var modal = $(this).parents(".modal");
                var form = modal.find("form");

                form.find(":input:not(:file)").each(function () {
                    this.value = $(this).val().trim();
                });

                var data = new FormData(form[0]);

                $.ajax({
                    url: urlBase + '/ajax/drivers',
                    data: data,
                    dataType: 'json',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        Swal.fire({
                            title: 'Aviso',
                            text: 'Guardado correctamente.',
                            icon: 'success',
                        }).then(function () {
                            $("select[name=driver_id]").append('<option value="' + response.id + '">(' + response.id + ') ' + response.first_name + " " + response.last_name + '</option>');
                            $(".modal#newBoardingModal select[name=driver_id], .modal#editBoardingModal select[name=driver_id]").val(response.id).trigger("change");
                            form.trigger("reset");
                            modal.modal('hide');
                        });
                    },
                    error: function (error) {
                        console.log('fail');
                    }
                });

            });

            $('#cleanFormButton').click(function (event) {
                event.preventDefault();
                $('.form_date').datetimepicker("reset");
                $('#searchShippingScheduleForm').trigger('reset');
                $('#carrier_id,#shipping_status_id').val('').trigger("change");
                $('.form_date').find("input").val("");
                //$('#boarding_number').val('');
                //$('#shipment_number').val('');
                //$('#boarding_status').val('');
                //$('#initial_date').val('');
                //$('#final_date').val('');
                $.ajax({
                    type: 'GET',
                    url: urlBase + '/ajax/shipping-schedules',
                    data: JSON.stringify(),
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (registros) {
                        if (_.isEmpty(registros)) {
                            Swal.fire({
                                title: 'Aviso',
                                text: 'No se encontraron resultados.',
                                type: 'warning',
                                confirmButtonColor: "#f58249",
                                confirmButtonText: "Aceptar",
                            });
                            return;
                        }

                        table.clear();
                        table.rows.add(registros);
                        table.draw();
                        $(window).trigger('resize');
                    },
                    error: function (error) {
                        Swal.fire('Aviso', 'Vuelva a intentar, por favor.', 'error');
                    }
                });
            });

            $('#searchTableInput').keyup(function () {
                table.search($(this).val()).draw();
            });

            $('#boarding_squedule tbody').on('click', '.edit-button', function (e) {
                console.log(e.target);

                if (!$(e.target).is("a") && !$(e.target).is("span")) {
                    return;
                }

                //console.log(table.row(this).data());
                //var data = table.row(this).data();
                var url = urlBase + '/ajax/shipping-schedules/';

                //var id_selected = $(this).find("td.actions a").data("id");
                var id_selected = $(this).data("id");

                var modal = $("#editBoardingModal");
                var form = modal.find("form");
                //console.log(id_selected);

                //return false;

                $.ajax({
                    type: "GET",
                    url: url + id_selected,
                    data: JSON.stringify(),
                    async: true,
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (shippingSchedule) {
                        //console.log(shipping_schedule.shipping_number);

                        $.each(Object.keys(shippingSchedule), function (index, key) {

                            var valueFormat = null;
                            switch (key) {
                                case 'scheduled_date':
                                    //valueFormat = new Date(shippingSchedule[key]).toDateString("yyyy-MM-dd");
                                    valueFormat = moment(shippingSchedule[key]).format('DD-MM-YYYY');
                                    //key = "scheduled_date"
                                    break;
                                default:
                                    valueFormat = shippingSchedule[key];
                                    break;
                            }

                            modal.find('.modal-body :input[name="' + key + '"]').val(valueFormat).trigger('change');

                            //console.log(key, valueFormat);

                        });
                    },
                    error: function (error) {
                        console.log(error.responseJSON);
                        var error = error.responseJSON;
                        Swal.fire('Aviso', error.message, 'error');
                    }
                });



                $('#editBoardingModal').modal('show');

                $('#editBoardingModal').on('hidden.bs.modal', function (event) {
                    form.trigger("reset");
                    form.find("select").val(null).trigger('change');
                });
            });

            $("form#ShippingSchedule").on("submit", function (e) {
                e.preventDefault();

                console.log("Enviando formulario");

                var url = urlBase + '/ajax/shipping-schedules';
                var form = $(this);

                form.find(":input").each(function () {
                    this.value = $(this).val().trim();
                });

                //var dataForm = form.serialize();
                var dataForm = new FormData(form[0]);
                var data = JSON.stringify(Object.fromEntries(dataForm));
                var method = form.find('input[name=_method]').val();

                var message_success = null;

                switch (method) {
                    case "POST":
                        message_success = "Embarque creado satisfactoriamente";
                        break;

                    case "PUT":
                        message_success = "Embarque actualizado satisfactoriamente";
                        break;
                }

                $.ajax({
                    type: method,
                    url: url,
                    data: data,
                    async: true,
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (registros) {
                        Swal.fire({
                            title: 'Sistema',
                            text: message_success,
                            type: 'success',
                            confirmButtonColor: "#f58249",
                            confirmButtonText: "Aceptar",
                            closeOnConfirm: false
                        }).then((confirmed) => {
                            form.trigger("reset");
                            form.find("select").val(null).trigger('change');
                            var modal = form.parents(".modal");
                            modal.modal('hide');
                        });
                        redrawTable(table);
                    },
                    error: function (error) {
                        console.log(error.responseJSON);
                        var error = error.responseJSON;
                        Swal.fire('Aviso', error.message, 'error');
                    }
                });
            });

            $('#layout_upload_file').on('change', function (oEvent) {
                var oFile = oEvent.target.files[0];

                if (_.isUndefined(oFile)) {
                    return;
                }

                var sFilename = oFile.name;
                var reader = new FileReader();

                reader.onload = function(e) {
                    var data = e.target.result;
                    var cfb;

                    try {
                        cfb = XLSX.CFB.read(data, { type: 'binary' });
                        var wb = XLSX.parse_xlscfb(cfb);
                    } catch (error) {
                        Swal.fire({
                            title: 'Aviso',
                            text: 'Por favor revise su archivo, parece ser inválido.',
                            type: 'warning',
                            confirmButtonColor: "#f58249",
                            confirmButtonText: "Aceptar",
                        }).then(function () {
                            var modal = $(".modal:visible")
                            var form = modal.find("form");
                            form.trigger("reset");
                            $("#layout_upload_file").val('');
                            $("#layout_upload_file").trigger("change");
                        });

                        return;
                    }
                    
                    var sheetName = wb.SheetNames[0];

                    // Dar formato a fecha
                    var worksheet = wb.Sheets[sheetName];
                    console.log(worksheet);
                    $.each(worksheet, function (index, row) {
                        if (/^[B][0-9]/.test(index)) {
                            var cell = worksheet[index];
                            //console.log("antes",cell);
                            if (cell != undefined && !isNaN(cell.v) && cell.v.toString().length == 5) {
                                delete cell.w; // remove old formatted text
                                cell.z = 'dd/mm/yyyy'; // set cell format
                                //console.log("dentro",cell);
                            }
                            //console.log(index, cell);
                        }
                    });
                    

                    var sCSV = XLSX.utils.make_csv(wb.Sheets[sheetName]);
                    var candidates = XLSX.utils.sheet_to_row_object_array(wb.Sheets[sheetName], { raw: false, defval: "" });
                    if (candidates.length == 0) {
                        candidates = [
                            {
                                'No. Embarque': '',
                                'Fecha Programada Arribo Bodega (DD/MM/AAAA)': '',
                                'ID Almacén': '',
                                'ID Transportista': '',
                                'No. Remolque': '',
                                'No. Tractor': '',
                                'Placas': '',
                                'ID Operador': '',
                                'ID Estatus Remolque': '',
                                'ID Cliente': '',
                                'Origen': '',
                                'Destino': '',
                                'Caja': '',
                            }
                        ];
                    }
                    //console.log(candidates);
                    uploadLayoutComponent.loadLayout(candidates);
                };

                 reader.readAsBinaryString(oFile);
            });

            $('#uploadLayoutModal').on('hidden.bs.modal', function () {
                $('#newBoardingModal').modal('show');
                $('#layout_upload_file').val('');
                $('#layout_upload_file').fileinput('reset');
            });

            $('#uploadLayoutModal').on('shown.bs.modal', function () {
                $('#newBoardingModal').modal('hide');
            });

            $(".readonly").on('keydown paste', function(e){
                //e.preventDefault();
            });

            $("input[name=scheduled_date]").on("change", function () {
                $(this).focus();
            });

            // Resetear formulario de modal al cerrar la ventana
            $('.modal').on('hidden.bs.modal', function (event) {
                var form = $(this).find("form");
                form.trigger("reset");
                form.find("select").val(null).trigger('change');
            });

            $('.modal#newCarrierModal, .modal#newOperatorModal').on('hidden.bs.modal', function (event) {
                var inputs = $(this).find(":input:not([name=_method])");
                $.each(inputs, function (index, field) {
                    $(field).val(null).trigger("change");
                });
                $(".modal-backdrop.fade.in:last-child").css("z-index", "");
            });

            $('.modal#newCarrierModal, .modal#newOperatorModal').on('show.bs.modal', function (event) {
                $(".modal-backdrop.fade.in:last-child").css("z-index", 1050);
                $(this).css("z-index", 1051);
            });

            $("#searchTableButton").click();
        });

        function redrawTable(dt) {
            var url = urlBase + '/ajax/shipping-schedules';

            $.ajax({
                type: "GET",
                url: url,
                data: JSON.stringify(),
                async: true,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (registros) {
                    dt.clear();
                    dt.rows.add(registros);
                    dt.draw();
                },
                error: function (error) {
                    console.log(error);
                    Swal.fire('Aviso', 'Vuelva a intentar, por favor.', 'error');
                }
            });
        }


    </script>
}

<div class="panel-title">
    <form id="searchShippingScheduleForm">
        <div class="row">
            <div class="form-group col-sm-6 col-md-3">
                <label for="boarding_number">No. de embarque</label>
                <input type="text" maxlength="50" class="form-control" id="boarding_number" name="shipping_number" placeholder="No. de embarque">
            </div>

            <div class="form-group col-sm-6 col-md-3">
                <label for="shipment_number">No. de remolque</label>
                <input type="text" maxlength="50" class="form-control" id="shipment_number" name="trailer_number" placeholder="No. de remolque">
            </div>

            <div class="form-group col-sm-6 col-md-3">
                <label for="boarding_status">Transportista</label>
                <select class="form-control select2" id="carrier_id" name="carrier_id">
                    <option></option>
                    @foreach (var carrier in @ViewBag.carriers)
                    {
                        <option value="@carrier.id - @carrier.name">@carrier.id - @carrier.name</option>
                    }
                </select>
            </div>
            <div class="form-group col-sm-6 col-md-3">
                <label for="boarding_status">Estatus de embarque</label>
                <select class="form-control select2" id="shipping_status_id" name="shipping_status_id">
                    <option></option>
                    @foreach (var shippingStatus in @ViewBag.shippingStatuses)
                    {
                        <option @((shippingStatus.id+" - "+@shippingStatus.label) == "1 - Pendiente asignar rampa y mulero" ? "selected" : null) value="@shippingStatus.id - @shippingStatus.label">@shippingStatus.id - @shippingStatus.label</option>
                    }
                </select>
            </div>

            <div class="form-group col-sm-6 col-md-4">
                <label for="start_date">Fecha programada inicial</label>
                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="dd-mm-yyyy">
                    <input type="text" maxlength="50" id="initial_date" value="@DateTime.Now.ToString("dd-MM-yyyy")" name="scheduled_date_start" class="form-control readonly" placeholder="Fecha programada inicial">
                    <span class="input-group-addon">
                        <span class="fa fa-calendar" aria-hidden="true"></span>
                    </span>
                </div>
                <input type="hidden" id="start_date" value="" />
            </div>

            <div class="form-group col-sm-6 col-md-4">
                <label for="end_date">Fecha programada final</label>
                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="dd-mm-yyyy">
                    <input type="text" maxlength="50" id="final_date" value="@DateTime.Now.ToString("dd-MM-yyyy")" name="scheduled_date_end" class="form-control readonly" placeholder="Fecha programada final">
                    <span class="input-group-addon">
                        <span class="fa fa-calendar" aria-hidden="true"></span>
                    </span>
                </div>
                <input type="hidden" id="end_date" value="" />
            </div>

            <div class="form-group col-sm-3 col-md-2">
                <button type="submit" id="searchTableButton" class="btn btn-primary full-width btn-fixed-control">
                    Buscar
                </button>
            </div>
            <div class="form-group col-sm-3 col-md-2">
                <button type="button" id="cleanFormButton" class="btn btn-default full-width btn-fixed-control">
                    Limpiar
                </button>
            </div>
        </div>
    </form>
</div>
<div class="panel-subtitle">
    <form id="SearchForm">
        <div class="row">
            @if (new List<int?> {
                        WSApiTrackingOneYarda.Models.UserRoles.TRAFFIC,
                        WSApiTrackingOneYarda.Models.UserRoles.ADMINISTRATOR,
                        WSApiTrackingOneYarda.Models.UserRoles.SUPER_ADMIN,
                }.Contains(ViewBag.currentUser.auth))
            {
                <div class="form-group col-sm-4 col-md-4 col-lg-3">

                    <a href="#newBoardingModal" data-toggle="modal" class="btn btn-secondary full-width">
                        Nuevo embarque
                    </a>


                    @*@if (new List<int?> {
                                WSApiTrackingOneYarda.Models.UserRoles.PROVIDER,
                        }.Contains(ViewBag.currentUser.auth))
                        {
                            <select class="form-control" id="client_id" name="client_id">
                                <option value="">Seleccionar Cliente</option>
                                @foreach (var client in @ViewBag.clients)
                                {
                                    <option value="@client.id - @client.name">@client.id - @client.name</option>
                                }
                            </select>
                        }*@
                </div>
            }

            <div class="form-group @(ViewBag.currentUser.is_provider ? "col-sm-12 col-md-9 col-lg-9" : "col-sm-5 col-md-5 col-lg-6")">
                <div class="input-group">
                    <input type="text" maxlength="50" class="form-control" name="search" placeholder="Buscar" id="searchTableInput">
                    <span class="input-group-addon" title="Buscar">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="dropdown">
                    <button id="download" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Exportar
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li>
                            <a href="#" id="exportExcel">
                                PDF
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="exportPdf">
                                Excel
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel-content">
    <div class="table-responsive">
        <table id="boarding_squedule" class="table table-striped table-bordered dt-responsive" style="width:100%">
            <thead>
                <tr>
                    <th class="actions not-export-col text-center">Acciones</th>
                    <th class="is_marked_as_rejected">Rechazo</th>
                    <th class="shipping_number">No. Embarque</th>
                    <th class="shipping_status_id">Estatus Embarque</th>
                    <th class="scheduled_date">Fecha Programada</th>
                    <th class="warehouse_id">Almacén</th>
                    <th class="carrier_id">Transportista</th>
                    <th class="driver_id">Operador</th>
                    <th class="client_id">Cliente</th>
                    <th class="none trailer_number">No. Remolque</th>
                    <th class="none truck_number">No. Tractor</th>
                    <th class="none license_plate">Placas</th>
                    <th class="none container">Caja</th>
                    <th class="none trailer_status">Estatus Remolque</th>
                    <th class="none origin">Origen</th>
                    <th class="none destination">Destino</th>
                    <th class="none initial_parking_space">Cajón Inicial</th>
                    <th class="none initial_yard_mule_driver_id">Mulero Inicial</th>
                    <th class="none ramp">Rampa</th>
                    <th class="none final_parking_space">Cajón Final</th>
                    <th class="none final_yard_mule_driver_id">Mulero Final</th>
                    <th class="none ramp_and_yard_mule_driver_assigned_at">Fecha/Hora Asignación Rampa y Mulero</th>
                    <th class="none moved_from_parking_space_at">Fecha/Hora Asignación Mueve Desde Cajón</th>
                    <th class="none in_ramp_at">Fecha/Hora Asignación Deja en Rampa</th>
                    <th class="none moved_from_ramp_at">Fecha/Hora Asignación Mueve Desde Rampa</th>
                    <th class="none in_parking_space_at">Fecha/Hora Asignación Deja en Cajón</th>

                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- newBoardingModal -->
<div class="modal fade" id="newBoardingModal" tabindex="-1" role="dialog" aria-labelledby="newBoardingModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="newBoardingModalLabel">Nuevo embarque</h3>

                <div class="action-buttons">
                    <a href="~/assets/files/layout_embarques.xls" class="btn btn-default btn-icon right">
                        <span>Descargar Layout</span>
                        <span class="glyphicon glyphicon-save"></span>
                    </a>

                    <input id="layout_upload_file" name="layout_upload" type="file" class="file" data-show-preview="false" data-show-remove="false" data-msg-placeholder="Subir Layout">
                </div>
            </div>
            <div class="modal-body">
                <form id="ShippingSchedule">
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-8">
                            <label for="boarding_number">No. de embarque</label>
                            <input type="text" maxlength="50" class="form-control" name="shipping_number" placeholder="No. de embarque" required>
                        </div>
                        <div class="form-group col-sm-6 col-md-4">
                            <label for="start_date">Fecha programada arribo bodega</label>
                            <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="delivery_date" data-link-format="dd-mm-yyyy">
                                <input type="text" maxlength="50" name="scheduled_date" class="form-control readonly" placeholder="Fecha programada arribo bodega" autocomplete="off" required>
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                </span>
                            </div>
                            <input type="hidden" id="delivery_date" value="" />
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="warehouse">Almacén</label>
                            <select name="warehouse_id" class="form-control select2" required>
                                <option value="">Seleccionar</option>
                                @foreach (var warehouse in @ViewBag.warehouses)
                                {
                                    <option value="@warehouse.id">(@warehouse.id) @warehouse.name</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="carrier">Transportista</label>

                            <div class="input-group">
                                <select class="form-control select2" name="carrier_id" required>
                                    <option></option>
                                    @foreach (var carrier in @ViewBag.carriers)
                                    {
                                        <option value="@carrier.id">(@carrier.id) @carrier.name</option>
                                    }
                                </select>
                                <a href="#newCarrierModal" data-toggle="modal" class="input-group-addon">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="shipment_number">No. de remolque</label>
                            <input type="text" maxlength="50" class="form-control" name="trailer_number" placeholder="No. de remolque" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="tractor_number">No. de tractor</label>
                            <input type="text" maxlength="50" class="form-control" name="truck_number" placeholder="No. de tractor" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="plates">Placas</label>
                            <input type="text" maxlength="50" class="form-control" name="license_plate" placeholder="Placas" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="operator">Operador</label>

                            <div class="input-group">
                                <select class="form-control select2" name="driver_id" required>
                                    <option></option>
                                    @foreach (var driver in @ViewBag.drivers)
                                    {
                                        <option value="@driver.id">(@driver.id) @driver.first_name @driver.last_name</option>
                                    }
                                </select>
                                <a href="#newOperatorModal" data-toggle="modal" class="input-group-addon">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="trailer_status_id">Estatus remolque</label>

                            <select class="form-control select2" name="trailer_status_id" required>
                                <option></option>
                                @*<option value="1">Activo</option>
                                    <option value="2">Pendiente</option>
                                    <option value="3">En proceso</option>
                                    <option value="4">Rechazada</option>
                                    <option value="5">Cancelada</option>*@
                                @foreach (var trailerStatus in @ViewBag.trailerStatuses)
                                {
                            <option value="@trailerStatus.id">(@trailerStatus.id) @trailerStatus.label</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="client">Cliente</label>
                            <select class="form-control client_id_select" name="client_id" required>
                                @*@foreach (var client in @ViewBag.clients)
                                    {
                                        <option value="@client.id">(@client.id) @client.name</option>
                                    }*@
                            </select>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="origin">Origen</label>
                            <input type="text" maxlength="50" class="form-control" name="origin" placeholder="Origen" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="destination">Destino</label>
                            <input type="text" maxlength="50" class="form-control" name="destination" placeholder="Destino" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="box">Caja</label>
                            <input type="text" maxlength="50" class="form-control" name="container" placeholder="Caja" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            @*<a data-dismiss="modal" data-toggle="modal" class="btn btn-primary full-width btn-fixed-control">Guardar</a>*@
                            <button type="submit" class="btn btn-primary full-width btn-fixed-control">Guardar</button>
                            <input type="hidden" name="_method" value="POST" readonly />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- editBoardingModal -->
<div class="modal fade" id="editBoardingModal" tabindex="-1" role="dialog" aria-labelledby="editBoardingModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="editBoardingModalLabel">Editar embarque</h3>
            </div>
            <div class="modal-body">
                <form id="ShippingSchedule">
                    <div class="row">
                        <div class="form-group col-sm-6 col-md-8">
                            <label for="shipping_number">No. de embarque</label>
                            <input type="text" maxlength="50" class="form-control" name="shipping_number" placeholder="No. de embarque" required readonly>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="start_date">Fecha programada arribo bodega</label>
                            <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="delivery_date" data-link-format="dd-mm-yyyy">
                                <input required type="text" maxlength="50" class="form-control readonly" name="scheduled_date" placeholder="Fecha programada arribo bodega" autocomplete="off" required>
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                </span>
                            </div>
                            <input type="hidden" id="delivery_date" name="delivery_date" value="" />
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="warehouse">Almacén</label>
                            <select name="warehouse_id" class="form-control select2" required>
                                <option value="">Seleccionar</option>
                                @foreach (var warehouse in @ViewBag.warehouses)
                                {
                            <option value="@warehouse.id">(@warehouse.id) @warehouse.name</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="carrier">Transportista</label>

                            <div class="input-group">
                                <select class="form-control select2" name="carrier_id" required>
                                    <option></option>
                                    @foreach (var carrier in @ViewBag.carriers)
                                    {
                                        <option value="@carrier.id">(@carrier.id) @carrier.name</option>
                                    }
                                </select>
                                <a href="#newCarrierModal" data-toggle="modal" class="input-group-addon">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="trailer_number">No. de remolque</label>
                            <input type="text" maxlength="50" class="form-control" name="trailer_number" placeholder="No. de remolque" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="truck_number">No. de tractor</label>
                            <input type="text" maxlength="50" class="form-control" name="truck_number" placeholder="No. de tractor" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="license_plate">Placas</label>
                            <input type="text" maxlength="50" class="form-control" name="license_plate" placeholder="Placas" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="operator">Operador</label>

                            <div class="input-group">
                                <select class="form-control select2" name="driver_id" required>
                                    <option></option>
                                    @foreach (var driver in @ViewBag.drivers)
                                    {
                                        <option value="@driver.id">(@driver.id) @driver.first_name @driver.last_name</option>
                                    }
                                </select>
                                <a href="#newOperatorModal" data-toggle="modal" class="input-group-addon">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="trailer_status_id">Estatus remolque</label>

                            <select class="form-control select2" name="trailer_status_id" required>
                                <option></option>
                                @foreach (var trailerStatus in @ViewBag.trailerStatuses)
                                {
                            <option value="@trailerStatus.id">(@trailerStatus.id) @trailerStatus.label</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="client">Cliente</label>
                            <select class="form-control client_id_select" name="client_id" required>
                                @*@foreach (var client in @ViewBag.clients)
                                    {
                                        <option value="@client.id">(@client.id) @client.name</option>
                                    }*@
                            </select>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="origin">Origen</label>
                            <input type="text" maxlength="50" class="form-control" name="origin" placeholder="Origen" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="destination">Destino</label>
                            <input type="text" maxlength="50" class="form-control" name="destination" placeholder="Destino" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            <label for="container">Caja</label>
                            <input type="text" maxlength="50" class="form-control" name="container" placeholder="Caja" required>
                        </div>

                        <div class="form-group col-sm-6 col-md-4">
                            @*<a data-dismiss="modal" href="#" class="btn btn-primary full-width btn-fixed-control">Actualizar</a>*@
                            <button type="submit" class="btn btn-primary full-width btn-fixed-control">Actualizar</button>
                            <input type="hidden" name="_method" value="PUT" readonly />
                            <input type="hidden" name="id" value="" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="uploadLayoutComponent">
    <div class="modal fade" id="uploadLayoutModal" tabindex="-1" role="dialog" aria-labelledby="uploadLayoutModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="uploadLayoutModalLabel">Información del Layout</h3>
                </div>
                <div class="modal-body">
                    <div v-if="loading">
                        <p>Cargando...</p>
                    </div>
                    <div v-else>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>No. Embarque</th>
                                                <th>Fecha Programada Arribo Bodega (DD/MM/AAAA)</th>
                                                <th>ID Almacén</th>
                                                <th>ID Transportista</th>
                                                <th>No. Remolque</th>
                                                <th>No. Tractor</th>
                                                <th>Placas</th>
                                                <th>ID Operador</th>
                                                @*<th>ID Mulero</th>*@
                                                <th>ID Estatus Remolque</th>
                                                <th>ID Cliente</th>
                                                <th>Origen</th>
                                                <th>Destino</th>
                                                <th>Caja</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(candidate, index) in candidates">
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.shipping_number.0'))}" :title="_.get(layoutErrors, index + '.shipping_number.0')">{{ candidate.shipping_number }}</td>
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.scheduled_date.0'))}" :title="_.get(layoutErrors, index + '.scheduled_date.0')">{{ candidate.scheduled_date }}</td>
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.warehouse_id.0'))}" :title="_.get(layoutErrors, index + '.warehouse_id.0')">{{ candidate.warehouse_id }}</td>
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.carrier_id.0'))}" :title="_.get(layoutErrors, index + '.carrier_id.0')">{{ candidate.carrier_id }}</td>
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.trailer_number.0'))}" :title="_.get(layoutErrors, index + '.trailer_number.0')">{{ candidate.trailer_number }}</td>
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.truck_number.0'))}" :title="_.get(layoutErrors, index + '.truck_number.0')">{{ candidate.truck_number }}</td>
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.license_plate.0'))}" :title="_.get(layoutErrors, index + '.license_plate.0')">{{ candidate.license_plate }}</td>
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.driver_id.0'))}" :title="_.get(layoutErrors, index + '.driver_id.0')">{{ candidate.driver_id }}</td>
                                                @*<td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.initial_yard_mule_driver_id.0'))}" :title="_.get(layoutErrors, index + '.initial_yard_mule_driver_id.0')">{{ candidate.initial_yard_mule_driver_id }}</td>*@
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.trailer_status_id.0'))}" :title="_.get(layoutErrors, index + '.trailer_status_id.0')">{{ candidate.trailer_status_id }}</td>
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.client_id.0'))}" :title="_.get(layoutErrors, index + '.client_id.0')">{{ candidate.client_id }}</td>
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.origin.0'))}" :title="_.get(layoutErrors, index + '.origin.0')">{{ candidate.origin }}</td>
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.destination.0'))}" :title="_.get(layoutErrors, index + '.destination.0')">{{ candidate.destination }}</td>
                                                <td :class="{'warning': !_.isUndefined(_.get(layoutErrors, index + '.container.0'))}" :title="_.get(layoutErrors, index + '.container.0')">{{ candidate.container }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="canUploadLayout">
                            <div class="form-group col-sm-6 col-md-4">
                                <button @@click="uploadLayout" id="btn-subir-layout" type="button" class="btn btn-primary full-width btn-fixed-control">Subir Layout</button>
                            </div>
                        </div>
                        <div class="row" v-else>
                            <div class="col-md-12">
                                <p>Por favor, revise los errores y vuelva a intentar con el layout corregido.</p>
                            </div>
                            <div class="col-md-2">
                                <a data-dismiss="modal" data-toggle="modal" class="btn btn-primary full-width btn-fixed-control">Cerrar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
