﻿@model WSApiTrackingOneYarda.Models.Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contact.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.second_lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.second_lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
