﻿@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            window.drawProcess = false;
            var table = $('#operator').DataTable({
                responsive: true,
                pageResize: true,
                ordering: false,
                proccessing: true,
                serverSide: true,
                //data: [],
                ajax: {
                    url: urlBase+"/ajax/clients/datatable",
                    type: 'POST',
                    cache: true
                },
                scrollY: 500,
                deferRender: true,
                scroller: {
                    loadingIndicator: true,
                    displayBuffer: 4
                },
                dom: 'frtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'none',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        //orientation: 'landscape',
                        //pageSize: 'A1',
                        exportOptions: {
                            stripHtml: true,
                            modifier: {
                                search: 'none',
                                order: 'current',
                                page: 'all',
                            },
                            columns: ':not(.not-export-col)',
                        }
                    },
                ],
                language: {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar _MENU_ registros",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(filtrado de un total de _MAX_ registros)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron resultados",
                    emptyTable: "Ningún dato disponible en esta tabla",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Anterior"
                    },
                    aria: {
                        sortAscending: ": Activar para ordenar la columna de manera ascendente",
                        sortDescending: ": Activar para ordenar la columna de manera descendente"
                    },
                    buttons: {
                        copy: "Copiar",
                        colvis: "Visibilidad"
                    }
                },
                columnDefs: [
                    {
                        targets: 'edit',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return '<a href="#" class="edit-button" title="Editar"><span class="glyphicon glyphicon-edit text-black"></span></a>';
                        },
                    },
                    {
                        targets: 'fullname',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.name + ' ' + row.first_lastname;
                        },
                    },
                    {
                        targets: 'name',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.name;
                        },
                    },
                    {
                        targets: 'first_lastname',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.first_lastname;
                        },
                    },
                    {
                        targets: 'second_lastname',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.second_lastname;
                        },
                    },
                    {
                        targets: 'contact_id',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.contact_id;
                        },
                    },
                    {
                        targets: 'provider_id',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.provider_id;
                        },
                    },
                    {
                        targets: 'active',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.active;
                        },
                    },
                    {
                        targets: 'rfc',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            return row.rfc;
                        },
                    },
                    {
                        targets: 'address',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            if (_.isNull(row.contact)) {
                                return '';
                            }

                            var address = _.filter([
                                row.contact.address.city,
                                row.contact.address.state,
                            ]).join(', ');

                            return address;
                        },
                    },
                    {
                        targets: 'provider',
                        className: 'text-center',
                        render: function (payload, type, row, meta) {
                            if (_.isNull(row.provider)) {
                                return '';
                            }

                            return "("+row.provider.id+") "+row.provider.name;
                        },
                    },
                ],
                drawCallback: function () {
                    $(".fancybox-item").fancybox({
                        overlayColor: '#000',
                        scrolling: 'no',
                        padding: 0,
                        width: 900,
                        height: 500,
                        titleShow: false,
                        onStart: function () {
                            $("body").css({
                                'overflow-y': 'hidden',
                                'padding-right': '17px'
                            });
                        },
                        onClosed: function () {
                            $("body").css({
                                'overflow-y': 'visible',
                                'padding-right': '0'
                            });
                        }
                    });
                },
                //preDrawCallback: function (settings) {
                    
                //},
            });

            table.on("preDraw", function () {
                table.context[0].jqXHR.abort()
            });

            var updateClientsTable = function (results) {
                table.clear();
                table.rows.add(results);
                table.draw();
            }

            var searchClients = function () {
                table.clear();
                table.draw();

                $.ajax({
                    type: 'GET',
                    url: urlBase + '/ajax/clients',
                    data: JSON.stringify(),
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (results) {
                        if (_.isEmpty(results)) {
                            Swal.fire({
                                title: 'Aviso',
                                text: 'No se encontraron resultados.',
                                type: 'warning',
                                confirmButtonColor: "#f58249",
                                confirmButtonText: "Aceptar",
                            });
                            return;
                        }

                        // console.log(permisos);

                        updateClientsTable(results);
                    },
                    error: function (error) {
                        Swal.fire('Aviso', 'Vuelva a intentar, por favor.', 'error');
                    }
                });
            }

            //searchClients();

            $('#operator_filter').hide();

            //$.fn.dataTable.ext.search.push(
            //    function (settings, data, dataIndex) {
            //        var operator_name_input = $("input[name='operator_name']").val().toLowerCase();
            //        var license_number_input = parseInt($("input[name='license_number']").val());
            //        var shipment_number_input = parseInt($("input[name='shipment_number']").val());

            //        var operator_name = data[4].toLowerCase() || '';
            //        var license_number = parseFloat(data[8]) || 0;
            //        var shipment_number = parseFloat(data[5]) || 0;

            //        if ((!operator_name_input.trim() || operator_name.indexOf(operator_name_input) != -1 || operator_name_input == operator_name) &&
            //            (isNaN(license_number_input) || license_number == license_number_input) &&
            //            (isNaN(shipment_number_input) || shipment_number == shipment_number_input)) {
            //            return true;
            //        }

            //        return false;
            //    }
            //);

            $('#cleanFormButton').click(function (event) {
                event.preventDefault();
                $('.form_date').datetimepicker("reset");
                $('#operator_name').val('');
                $('#license_number').val('');
                $('#shipment_number').val('');
                table.draw();
            });

            $('#searchTableInput').keyup(function () {
                table.search($(this).val()).draw();
            });

            $('#searchTableButton').click(function (event) {
                event.preventDefault();
                table.draw();
            });

            $('#exportExcel').click(function (event) {
                event.preventDefault();
                table.button('1').trigger();
            });

            $('#exportPdf').click(function (event) {
                event.preventDefault();
                table.button('0').trigger();
            });

            $('#operator tbody').on('click', 'a.edit-button', function (event) {
                event.preventDefault();
                console.log(table.row($(this).parent().parent()).data());
                var data = table.row($(this).parent().parent()).data();

                var modal = $('#editClientModal');

                modal.find('.modal-body input[name="id"]').val(data.id);
                modal.find('.modal-body input[name="name"]').val(data.name);
                modal.find('.modal-body input[name="first_lastname"]').val(data.first_lastname);
                modal.find('.modal-body input[name="second_lastname"]').val(data.second_lastname);
                modal.find('.modal-body select[name="provider_id"]').val(data.provider_id).trigger('change');
                modal.find('.modal-body input[name="rfc"]').val(data.rfc);
                modal.find('.modal-body input[name="zipcode"]').val(data.contact.address.zipcode);
                modal.find('.modal-body input[name="street"]').val(data.contact.address.street);
                modal.find('.modal-body input[name="ext_number"]').val(data.contact.address.ext_number);
                modal.find('.modal-body input[name="int_number"]').val(data.contact.address.int_number);
                modal.find('.modal-body input[name="neighborhood"]').val(data.contact.address.neighborhood);
                modal.find('.modal-body input[name="city"]').val(data.contact.address.city);
                modal.find('.modal-body input[name="state"]').val(data.contact.address.state);
                modal.find('.modal-body input[name="country"]').val(data.contact.address.country);

                $('#editClientModal').modal('show');
            });

            $('#operator tbody').on('click', 'a.photo-button', function (event) {
                event.preventDefault();
                var data = table.row($(this).parent().parent()).data();

                $.ajax({
                    url: urlBase + '/ajax/clients/' + data.id + '/media',
                    data: data,
                    dataType: 'json',
                    type: 'GET',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        var media = _.find(response, { 'collection': 'picture' });

                        if (_.isUndefined(media)) {
                            Swal.fire({
                                title: 'Aviso',
                                text: 'No tiene imagen adjunta.',
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        $.fancybox({
                            'autoScale': true,
                            'autoDimensions': true,
                            'centerOnScroll': true,
                            'href': media.uri,
                        });
                    },
                    error: function (error) {
                        console.log('fail');
                    }
                });
            });

            $('#newClientForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);

                form.find(":input").each(function () {
                    this.value = $(this).val().trim();
                });

                var data = new FormData($(this)[0]);

                $.ajax({
                    url: urlBase + '/ajax/clients',
                    data: data,
                    dataType: 'json',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        Swal.fire({
                            title: 'Aviso',
                            text: 'Guardado correctamente.',
                            icon: 'success',
                        }).then(function () {
                            searchClients();

                            form.trigger('reset');
                            form.find('select').val(null).trigger('change');
                            var modal = form.parents('.modal');
                            modal.modal('hide');
                        });
                    },
                    error: function (error) {
                        console.log('fail');
                    }
                });
            });

            $('#editClientForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);

                form.find(":input").each(function () {
                    this.value = $(this).val().trim();
                });

                var data = new FormData($(this)[0]);

                $.ajax({
                    url: urlBase + '/ajax/clients/',
                    data: data,
                    dataType: 'json',
                    type: 'PUT',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error) {
                            Swal.fire({
                                title: 'Aviso',
                                text: response.message,
                                icon: 'warning',
                                confirmButtonColor: '#f58249',
                                confirmButtonText: 'Aceptar',
                            });

                            return;
                        }

                        Swal.fire({
                            title: 'Aviso',
                            text: 'Guardado correctamente.',
                            icon: 'success',
                        }).then(function () {
                            searchClients();

                            var modal = form.parents('.modal');
                            modal.modal('hide');
                        });
                    },
                    error: function (error) {
                        console.log('fail');
                    }
                });
            });

            // Resetear formulario de modal al cerrar la ventana
            $('.modal').on('hidden.bs.modal', function (event) {
                var form = $(this).find("form");
                form.trigger("reset");
                form.find("select").val(null).trigger('change');
            });

            // Personalizar el mensaje de validación del formulario
            //$("form :input").on("invalid", function(event) {
            //    // console.log($(this).attr("type"));
            //    // console.log($(this).data("input-type"));
            //    switch ($(this).data("input-type") != undefined ? $(this).data("input-type") : $(this).attr("type")) {
            //        case "number":
            //            event.target.setCustomValidity("El campo solo puede contener números");
            //            break;
            //    }
            //});
        });</script>
}

<div class="panel-subtitle" id="catalog-clients">
    <form>
        <div class="row">
            <div class="form-group col-sm-4 col-md-4 col-lg-3">
                <a href="#newClientModal" data-toggle="modal" class="btn btn-secondary full-width">
                    Nuevo cliente
                </a>
            </div>

            <div class="form-group col-sm-5 col-md-5 col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Buscar" id="searchTableInput">
                    <span class="input-group-addon" title="Buscar">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="dropdown">
                    <button id="download" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Exportar
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li>
                            <a href="#" id="exportExcel">
                                PDF
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="exportPdf">
                                Excel
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="panel-content">
    <div class="table-responsive">
        <table id="operator" class="display">
            <thead>
                <tr>
                    <th class="not-export-col edit">Editar</th>
                    <th class="fullname">Nombre Completo</th>
                    <th class="none name">Nombre</th>
                    <th class="none first_lastname">Apellido Paterno</th>
                    <th class="none second_lastname">Apellido Materno</th>
                    <th class="rfc">RFC</th>
                    <th class="none contact_id">Id Contacto</th>
                    <th class="address">Dirección</th>
                    <th class="none provider_id">Id Proveedor</th>
                    <th class="provider">Proveedor</th>
                    <th class="none active">Activo</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- newClientModal -->
<div class="modal fade" id="newClientModal" tabindex="-1" role="dialog" aria-labelledby="newClientModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="newClientModalLabel">Nuevo cliente</h3>
            </div>
            <div class="modal-body">
                <form id="newClientForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="name">Nombre</label>
                                    <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" name="name" placeholder="Nombre" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="first_lastname">Apellido Paterno</label>
                                    <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" name="first_lastname" placeholder="Apellido Paterno" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="second_lastname">Apellido Materno</label>
                                    <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" name="second_lastname" placeholder="Apellido Materno" required>
                                </div>
                                <div class="form-group col-sm-12 col-md-12">
                                    <label for="carrier">Proveedor</label>
                                    <select class="form-control select2" name="provider_id" required>
                                        <option></option>
                                        @foreach (var provider in @ViewBag.providers)
                                        {
                                            <option value="@provider.id">(@provider.id) @provider.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="rfc">RFC</label>
                                    <input type="text" maxlength="50" pattern="^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})\d{2}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)(\w{2})([A|a|0-9]{1}))$|^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})([02468][048]|[13579][26])0229)(\w{2})([A|a|0-9]{1})$" class="form-control" name="rfc" placeholder="RFC" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="zipcode">CP</label>
                                    <input type="number" maxlength="50" pattern="[0-9]+" class="form-control" name="zipcode" placeholder="CP" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="street">Calle</label>
                                    <input type="text" maxlength="50" class="form-control" name="street" placeholder="Calle" required>
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="ext_number">Núm Ext.</label>
                                    <input type="number" maxlength="50" class="form-control" name="ext_number" pattern="[0-9]+" placeholder="Núm Ext." >
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="int_number">Núm Int.</label>
                                    <input type="number" maxlength="50" class="form-control" name="int_number" pattern="[0-9]+" placeholder="Núm Int.">
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="neighborhood">Colonia</label>
                                    <input type="text" maxlength="50" class="form-control" name="neighborhood" placeholder="Colonia" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-4">
                                    <label for="city">Ciudad</label>
                                    <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" name="city" placeholder="Ciudad" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-4">
                                    <label for="state">Estado</label>
                                    <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" name="state" placeholder="Estado" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-4">
                                    <label for="country">País</label>
                                    <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" name="country" placeholder="País" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4 col-md-4">
                            <button type="submit" class="btn btn-primary btn-icon full-width">
                                <span>Guardar</span>
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- editClientModal -->
<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="editClientModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="editClientModalLabel">Editar cliente</h3>
            </div>
            <div class="modal-body">
                <form id="editClientForm" enctype="multipart/form-data">
                    <input type="hidden" name="id" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-12">
                                    <label for="name">Nombre</label>
                                    <input type="text" maxlength="50" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" class="form-control" name="name" placeholder="Nombre" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="first_lastname">Apellido Paterno</label>
                                    <input type="text" maxlength="50" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" class="form-control" name="first_lastname" placeholder="Apellido Paterno" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="second_lastname">Apellido Materno</label>
                                    <input type="text" maxlength="50" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" class="form-control" name="second_lastname" placeholder="Apellido Materno" required>
                                </div>
                                <div class="form-group col-sm-12 col-md-12">
                                    <label for="carrier">Proveedor</label>
                                    <select class="form-control select2" name="provider_id" required>
                                        <option></option>
                                        @foreach (var provider in @ViewBag.providers)
                                        {
                                            <option value="@provider.id">(@provider.id) @provider.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="rfc">RFC</label>
                                    <input type="text" maxlength="50" pattern="^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})\d{2}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)(\w{2})([A|a|0-9]{1}))$|^(([ÑA-Z|ña-z|&]{3}|[A-Z|a-z]{4})([02468][048]|[13579][26])0229)(\w{2})([A|a|0-9]{1})$" class="form-control" name="rfc" placeholder="RFC" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="zipcode">CP</label>
                                    <input type="number" maxlength="50" pattern="[0-9]+" class="form-control" name="zipcode" placeholder="CP" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="street">Calle</label>
                                    <input type="text" maxlength="50" class="form-control" name="street" placeholder="Calle" required>
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="ext_number">Núm Ext.</label>
                                    <input type="number" maxlength="50" class="form-control" name="ext_number" pattern="[0-9]+" placeholder="Nún Ext.">
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="int_number">Núm Int.</label>
                                    <input type="number" maxlength="50" class="form-control" name="int_number" pattern="[0-9]+" placeholder="Núm Int.">
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label for="neighborhood">Colonia</label>
                                    <input type="text" class="form-control" name="neighborhood" placeholder="Colonia" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-4">
                                    <label for="city">Ciudad</label>
                                    <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" name="city" placeholder="Ciudad" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-4">
                                    <label for="state">Estado</label>
                                    <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" name="state" placeholder="Estado" required>
                                </div>
                                <div class="form-group col-sm-6 col-md-4">
                                    <label for="country">País</label>
                                    <input type="text" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]*" maxlength="50" class="form-control" name="country" placeholder="País" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-4 col-md-4">
                            <button type="submit" class="btn btn-primary btn-icon full-width">
                                <span>Actualizar</span>
                                <span class="glyphicon glyphicon-repeat"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
